argparse==1.2.1
awesome-slugify==1.5
beautifulsoup4==4.3.2
django-crispy-forms==1.4.0
django-grappelli==2.5.3
Django==1.6.5
ipython==2.2.0
lxml==3.3.5
mongoengine==0.8.7
paymill==0.1.1
pep8==1.5.7
Pillow==2.5.1
psycopg2==2.5.3
pymill==0.1.2
pymongo==2.7.1
pyPdf==1.13
PyYAML==3.11
regex==2014.06.28
reportlab==3.1.8
requests==2.3.0
South==0.8.4
Unidecode==0.04.16
wsgiref==0.1.2
