CairoSVG==1.0.9
Django==1.6.5
Pillow==2.5.1
PyYAML==3.11
Pyphen==0.9.1
South==0.8.4
Unidecode==0.04.16
WeasyPrint==0.23
argparse==1.2.1
awesome-slugify==1.5
beautifulsoup4==4.3.2
cairocffi==0.6
cffi==0.8.6
cssselect==0.9.1
django-basket==0.4.5
django-classy-tags==0.5.1
django-crispy-forms==1.4.0
django-grappelli==2.5.3
html5lib==0.999
lxml==3.3.5
mongoengine==0.8.7
paymill==0.1.1
pep8==1.5.7
psycopg2==2.5.3
pyPdf==1.13
pycparser==2.10
pymill==0.1.2
pymongo==2.7.1
regex==2014.06.28
reportlab==3.1.8
requests==2.3.0
six==1.8.0
tinycss==0.3
wsgiref==0.1.2
