{% if syntheses %}

  {% if syntheses|length > 4 and do_plus %}
    <div class="row">
      <div class="col-xs-offset-11 col-xs-1">
        <button type="button" class="btn btn-danger plus_button" onclick='afficher_plus()'>Plus</button>
      </div> <!-- Bouton PLUS -->
    </div>
  {% endif %}

  <div class="row list_extract">
    {% for synth in syntheses %}
      {% include "syntheses/one_synth.html" %}
    {% endfor %}
  </div> 

{% else %}
  <h1 class="no_synthese">{{message}}</h1>
{% endif %}