{% if syntheses %}


  
  <div class="row list_extract">
    {% if user.is_authenticated %}
      {% with syntheses_achetees=user.userkooblit.get_syntheses_achetees_ou_ecrites  syntheses_a_noter=user.userkooblit.get_syntheses_a_noter %}
        {% for synth in syntheses %}
          {% if forloop.counter0|divisibleby:5 %}
          <div class="row row_syntheses">
          {% endif %}
          {% include "syntheses/one_synth.html" with synth=synth syntheses_achetees=syntheses_achetees syntheses_a_noter=syntheses_a_noter %}
          {% if forloop.last or forloop.counter0|add:1|divisibleby:5 %}
          </div>
          {% endif %}
        {% endfor %}
      {% endwith %}
    {% else %}
      {% for synth in syntheses %}
        {% if forloop.counter0|divisibleby:5 %}
        <div class="row row_syntheses">
        {% endif %}
        {% include "syntheses/one_synth.html" with synth=synth syntheses_achetees="" syntheses_a_noter="" %}
        {% if forloop.last or forloop.counter0|add:1|divisibleby:5 %}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div> 
  {% if syntheses|length > 5 and do_plus %}
   <div class="row">
    <div class="col-xs-offset-10 col-xs-1">
      <button type="button" class="plus_button" onclick='afficher_plus()'>Plus</button>
    </div> <!-- Bouton PLUS -->
  </div>
  {% endif %}

{% else %}
  <h1 class="no_synthese">{{message}}</h1>
{% endif %}