/* line 3, ../sass/autocomplete.scss */
ul#autocomplete {
  position: relative;
  top: 2px;
  background: rgba(255, 255, 255, 0.8);
  color: #53c1ac;
  border: none;
  border-radius: 5px;
  padding-left: 0;
  font-size: 13px;
  width: 100%;
}

/* line 15, ../sass/autocomplete.scss */
ul#autocomplete li {
  margin: auto;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

/* line 23, ../sass/autocomplete.scss */
ul#autocomplete li.selected {
  background: #09C;
  color: white;
}

/* line 28, ../sass/autocomplete.scss */
ul#autocomplete li:hover {
  cursor: pointer;
}

/* line 33, ../sass/autocomplete.scss */
ul#autocomplete li.first_list {
  padding-top: 5px;
}
/* line 36, ../sass/autocomplete.scss */
ul#autocomplete li.last_list {
  padding-bottom: 5px;
}
