/*
 * Style tweaks
 * --------------------------------------------------
 */

@font-face{
  font-family: "Helvetica Neue";
  src: url('../fonts/Helvetica_Neue/HelveticaNeue.otf') format('opentype');
}
@font-face{
  font-family: "Helvetica Neue Thin";
  src: url('../fonts/Helvetica_Neue_Thin/HelveticaNeue-Thin.otf') format('opentype');
}
@font-face{
  font-family: "Helvetica Neue Medium";
  src: url('../fonts/Helvetica_Neue/HelveticaNeue-Medium.otf') format('opentype');
}
@font-face{
  font-family: "Helvetica Neue Bold";
  src: url('../fonts/Helvetica_Neue/HelveticaNeue-Bold.otf') format('opentype');
}

html,
body {
  /*overflow-x: hidden;  Prevent scroll on narrow devices */
  height: 100%;
  background-color: rgb(239, 239, 239);
  color: rgb(74,74,74);
  font-family:'Helvetica Neue';
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue Thin';
}

li {
  list-style: none;
}

footer {
  padding: 30px 0;
}

#block_content {
  padding-top: 60px;
}

/* Wrapper for page content to push down footer */
#wrap {
  /*min-height: 100%;*/
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto 0;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 60px;
}
#footer {
/*background-color: #f5f5f5;*/
/*border-top: 1px solid #f5f5f5;*/
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 1105px) {
  #wrap {
    min-height: 100%;
    /*height: auto !important;*/
    margin: 0 auto 0;
    /* Negative indent footer by it's height */
  }
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.nav-bar-kooblit {
  background-color: #EFEFEF;
  border : none;
  color: rgb(127, 127, 127);
}

/*nav.navbar {
  background-color: white;
  border-bottom: 1px solid rgb(220,220,220);
}*/
.icon_navbar {
  max-height: 40px;
}

li.icon_navbar > a {
  max-height: 60px;
  padding: 10px;
}

.navbar-header a.navbar-brand {
  color: black;
  font-size: 24px;
  margin-top: -4px;
}

.navbar-header .navbar-nav {
  padding: 0;
}

.navbar-brand img {
  width: 40px;
  margin-top: -6px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav > li > a{
  color: rgb(44, 62, 80);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > a:hover{
  color: rgb(44, 62, 80);
}
.twitter-typeahead input {
  background-color: #EFEFEF;
}

#search_bar {
  height: 34px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

#ajax_loader {
  display: none;
  float: none;
  vertical-align: bottom;
}

.navbar_img {
  width: 35px
}

.fa.fa-shopping-cart {
  font-size: 24px;
}

.navbar-nav > li {
  /* Useful when collapsed (mobile) */
  text-align: center;
}

.navbar-nav > li > a.navbar_login {
  color: rgb(127, 127, 127);
  font-size: 18px;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 20px;
}

#achats a:hover {
  background-color: white;
  color: #18bc9c;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
padding-top: 60px;
}
.container .credit {
margin: 20px 0;
}

code {
font-size: 80%;
}
/*.btn{
  background-color: #FF5900;
}*/

.search_button
{
	/*background-color: #32B232;*/
  background: url(/static/img/search_back.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.gold_button
{
    /*background-color: #32B232;*/
  background: url(/static/img/gold_back.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	/*background-color: #EBEB00;*/
}
.subscribe_button
{
    background: url(/static/img/sub_back.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	/*background-color: #006A80;*/

}
.nb_achats {
  font-weight: bold;
  color: rgb(74,74,74);
  font-family:'Helvetica Neue';
}
