/*
 * Style tweaks
 * --------------------------------------------------
 */
@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("../fonts/Helvetica_Neue_Thin/HelveticaNeue-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/Helvetica_Neue/HelveticaNeue.otf") format("OpenType");
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/Helvetica_Neue/HelveticaNeue-Italic.otf") format("OpenType");
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url("../fonts/Helvetica_Neue/HelveticaNeue-Medium.otf") format("OpenType");
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/Helvetica_Neue/HelveticaNeue-Bold.otf") format("OpenType");
  font-weight: bold;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/Helvetica_Neue/HelveticaNeue-BoldItalic.otf") format("OpenType");
  font-weight: bold;
  font-style: italic;
}

/* line 43, ../sass/base.scss */
nav {
  background: #fafafa;
}

/* line 47, ../sass/base.scss */
html, body {
  /*overflow-x: hidden;  Prevent scroll on narrow devices */
  height: 100%;
  background-color: #fafafa;
  color: #4a4a4a;
  font-family: 'Helvetica Neue';
}

/* line 57, ../sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue Thin';
}

/* line 60, ../sass/base.scss */
a {
  color: #53c1ac;
}

/* line 63, ../sass/base.scss */
a:hover {
  color: white;
  text-decoration: none;
}

/* line 67, ../sass/base.scss */
li {
  list-style: none;
}

/* line 71, ../sass/base.scss */
footer {
  padding: 30px 0;
}

/* line 75, ../sass/base.scss */
#block_content {
  padding-top: 70px;
}

/* Wrapper for page content to push down footer */
/* line 80, ../sass/base.scss */
#wrap {
  height: 100%;
  margin: 0 auto 0;
}

/* Set the fixed height of the footer here */
/* line 86, ../sass/base.scss */
#push, #footer {
  height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 1105px) {
  /* line 92, ../sass/base.scss */
  #wrap {
    min-height: 100%;
    margin: 0 auto 0;
  }

  /* line 96, ../sass/base.scss */
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 104, ../sass/base.scss */
.nav-bar-kooblit {
  /*background-color: #EFEFEF;*/
  background-color: #fafafa;
  border: none;
  color: #7f7f7f;
  height: 70px;
}

/* line 111, ../sass/base.scss */
.navbar-collapse {
  background: #fafafa;
}

/* line 116, ../sass/base.scss */
.icon_navbar {
  max-height: 50px;
}

/* line 121, ../sass/base.scss */
li.icon_navbar > a {
  max-height: 70px;
  padding: 10px;
}

/* line 126, ../sass/base.scss */
.navbar-header {
  background: #fafafa;
}
/* line 128, ../sass/base.scss */
.navbar-header a.navbar-brand {
  color: black;
  font-size: 24px;
}
/* line 131, ../sass/base.scss */
.navbar-header a.navbar-brand img {
  width: 40px;
  margin-top: -6px;
  display: inline;
}
/* line 137, ../sass/base.scss */
.navbar-header .navbar-nav {
  padding: 0;
}

/* line 145, ../sass/base.scss */
.navbar-default .navbar-nav li a {
  color: black;
}
/* line 148, ../sass/base.scss */
.navbar-default .navbar-nav li a:hover {
  color: #5a9b8e;
}

/* line 153, ../sass/base.scss */
.dropdown-menu > li > a:hover {
  color: #5a9b8e;
}

/* line 157, ../sass/base.scss */
#home_profil {
  background: #fafafa;
  color: #FFF;
}

/* line 162, ../sass/base.scss */
.twitter-typeahead input {
  background-color: #fafafa;
  width: 100%;
}

/* line 166, ../sass/base.scss */
.twitter-typeahead {
  width: 500px;
  max-width: 100%;
}

/* line 170, ../sass/base.scss */
#search_bar {
  height: 34px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}

/* line 178, ../sass/base.scss */
#ajax_loader {
  display: none;
  float: none;
  vertical-align: bottom;
}

/* line 184, ../sass/base.scss */
.navbar_img {
  width: 35px;
}

/* line 188, ../sass/base.scss */
.fa.fa-shopping-cart {
  font-size: 24px;
}

/* line 192, ../sass/base.scss */
.navbar-nav > li {
  /* Useful when collapsed (mobile) */
  text-align: center;
}

/* line 197, ../sass/base.scss */
.navbar-nav > li > a.navbar_login {
  color: #7f7f7f;
  font-size: 18px;
}

/* line 202, ../sass/base.scss */
.navbar-nav > li > .dropdown-menu {
  margin-top: 20px;
}

/* line 207, ../sass/base.scss */
#achats a:hover {
  background-color: white;
  color: #18bc9c;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 217, ../sass/base.scss */
#wrap > .container {
  padding-top: 70px;
}

/* line 220, ../sass/base.scss */
.container .credit {
  margin: 20px 0;
}

/* line 224, ../sass/base.scss */
code {
  font-size: 80%;
}

/* line 229, ../sass/base.scss */
.search_button {
  /*background-color: #32B232;*/
  background: url(/static/img/search_back.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 238, ../sass/base.scss */
.gold_button {
  /*background-color: #32B232;*/
  background: url(/static/img/gold_back.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #EBEB00;*/
}

/* line 248, ../sass/base.scss */
.subscribe_button {
  background: url(/static/img/sub_back.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #006A80;*/
}

/* line 257, ../sass/base.scss */
.nb_achats {
  font-weight: bold;
  color: #4a4a4a;
  font-family: 'Helvetica Neue';
}
