/*
 * Style tweaks
 * --------------------------------------------------
 */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* line 3, ../sass/autocomplete.scss */
ul#autocomplete {
  position: absolute;
  top: 55px;
  background: rgba(255, 255, 255, 0.8);
  color: #4A4A4A;
  border: none;
  border-radius: 5px;
  padding-left: 0;
  font-size: 15px;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 16, ../sass/autocomplete.scss */
ul#autocomplete li {
  margin: auto;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

/* line 24, ../sass/autocomplete.scss */
ul#autocomplete li.selected {
  background: #09C;
  color: white;
}

/* line 29, ../sass/autocomplete.scss */
ul#autocomplete li:hover {
  cursor: pointer;
}

/* line 34, ../sass/autocomplete.scss */
ul#autocomplete li.first_list {
  padding-top: 5px;
}
/* line 37, ../sass/autocomplete.scss */
ul#autocomplete li.last_list {
  padding-bottom: 5px;
}

@font-face {
  font-family: "Gravity";
  src: url("../fonts/gravity/Gravity-Book.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gravity";
  src: url("../fonts/gravity/Gravity-Book-Italic.ttf") format("TrueType");
  font-style: italic;
}
@font-face {
  font-family: "Gravity";
  src: url("../fonts/gravity/Gravity-Bold.ttf") format("TrueType");
  font-weight: bold;
}
@font-face {
  font-family: "Gravity";
  src: url("../fonts/gravity/Gravity-Bold.ttf") format("TrueType");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "Gravity Light";
  src: url("../fonts/gravity/Gravity-Light.ttf") format("TrueType");
  font-style: normal;
  font-weight: normal;
}
/* line 46, ../sass/base.scss */
ul#autocomplete {
  position: absolute;
  top: 41px;
  background: #EEE;
}

/* line 52, ../sass/base.scss */
nav {
  background: #FAFAFA;
}

/* line 55, ../sass/base.scss */
html, body {
  /*overflow-x: hidden;  Prevent scroll on narrow devices */
  height: 100%;
  background-color: #FAFAFA;
  color: #4a4a4a;
  font-family: "Gravity";
}

/* line 65, ../sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Gravity";
}

/* line 69, ../sass/base.scss */
a {
  color: #53C1AC;
}

/* line 72, ../sass/base.scss */
a:link, a:visited, a:active, a:focus {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  border: none;
  outline: none;
}

/* line 79, ../sass/base.scss */
a:hover {
  color: white;
  text-decoration: none;
}

/* line 83, ../sass/base.scss */
li {
  list-style: none;
}

/* line 87, ../sass/base.scss */
footer {
  padding: 30px 0;
}

/* line 91, ../sass/base.scss */
#block_content {
  padding-top: 70px;
}

/* Wrapper for page content to push down footer */
/* line 96, ../sass/base.scss */
#wrap {
  height: 100%;
  margin: 0 auto 0;
}

/* Set the fixed height of the footer here */
/* line 102, ../sass/base.scss */
#push, #footer {
  height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 1105px) {
  /* line 108, ../sass/base.scss */
  #wrap {
    min-height: 100%;
    margin: 0 auto 0;
  }

  /* line 112, ../sass/base.scss */
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 120, ../sass/base.scss */
.nav-bar-kooblit {
  /*background-color: #EFEFEF;*/
  background-color: #FAFAFA;
  border: none;
  color: #7f7f7f;
  height: 70px;
  font-size: 20px;
}

/* line 128, ../sass/base.scss */
.navbar-collapse {
  background: #FAFAFA;
}

/* line 133, ../sass/base.scss */
.icon_navbar {
  max-height: 50px;
}

/* line 138, ../sass/base.scss */
li.icon_navbar > a {
  max-height: 70px;
  padding: 10px;
}

/* line 143, ../sass/base.scss */
.navbar-header {
  background: #FAFAFA;
}
/* line 145, ../sass/base.scss */
.navbar-header a.navbar-brand {
  color: black;
  font-size: 40px;
  font-family: "Gravity Light";
  text-shadow: 1px 1px 2px black;
  padding-top: 9px;
}
/* line 151, ../sass/base.scss */
.navbar-header a.navbar-brand img {
  height: 40px;
  display: inline;
}
/* line 156, ../sass/base.scss */
.navbar-header .navbar-nav {
  padding: 0;
}

/* line 164, ../sass/base.scss */
.navbar-default .navbar-nav li a {
  color: black;
}
/* line 167, ../sass/base.scss */
.navbar-default .navbar-nav li a:hover {
  color: #5a9b8e;
}

/* line 173, ../sass/base.scss */
.navbar-default .navbar-toggle {
  background: #53C1AC;
  border: none;
}
/* line 177, ../sass/base.scss */
.navbar-default .navbar-toggle:hover {
  background: #5a9b8e;
}

/* line 181, ../sass/base.scss */
.dropdown-menu > li > a:hover {
  color: #5a9b8e;
}

/* line 185, ../sass/base.scss */
#home_profil {
  background: #FAFAFA;
  color: #FFF;
}

/* line 190, ../sass/base.scss */
.twitter-typeahead input {
  background-color: #FAFAFA;
  width: 100%;
}

/* line 194, ../sass/base.scss */
.twitter-typeahead {
  width: 500px;
  max-width: 100%;
}

/* line 198, ../sass/base.scss */
#search_bar {
  height: 34px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 500px;
  background: transparent;
}

/* line 207, ../sass/base.scss */
#ajax_loader {
  display: none;
  float: none;
  vertical-align: bottom;
}

/* line 213, ../sass/base.scss */
.navbar_img {
  width: 35px;
}

/* line 217, ../sass/base.scss */
.fa.fa-shopping-cart {
  font-size: 24px;
}

/* line 221, ../sass/base.scss */
.navbar-nav > li {
  /* Useful when collapsed (mobile) */
  text-align: center;
}

/* line 226, ../sass/base.scss */
.navbar-nav > li > a.navbar_login {
  color: #7f7f7f;
  font-size: 20px;
}

/* line 231, ../sass/base.scss */
.navbar-nav > li > .dropdown-menu {
  margin-top: 20px;
}

/* line 236, ../sass/base.scss */
#achats a:hover {
  background-color: white;
  color: #18bc9c;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 246, ../sass/base.scss */
#wrap > .container {
  padding-top: 70px;
}

/* line 249, ../sass/base.scss */
.container .credit {
  margin: 20px 0;
}

/* line 253, ../sass/base.scss */
code {
  font-size: 80%;
}

/* line 257, ../sass/base.scss */
.search_button {
  /*background-color: #32B232;*/
  background: url(/static/img/search_back.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 266, ../sass/base.scss */
.gold_button {
  /*background-color: #32B232;*/
  background: url(/static/img/gold_back.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #EBEB00;*/
}

/* line 276, ../sass/base.scss */
.subscribe_button {
  background: url(/static/img/sub_back.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #006A80;*/
}

/* line 286, ../sass/base.scss */
.nb_achats {
  font-weight: bold;
  color: #4a4a4a;
  font-family: 'Helvetica Neue';
}

/* Responsive */
@media (max-width: 768px) {
  /* line 295, ../sass/base.scss */
  .navbar-nav > li > a.navbar-brand {
    padding-top: 0;
  }
}
