

.btn{
  /*background-color: #FF5900;*/
  background-color: rgb(221, 221, 221);
}

.button {
    /*background: none;*/
    border: none;
    font-weight: bold; 
}

.button-sauvegarder {
    color: #0B610B;
}

.button-publier {
    color: #FFBF00;
}

.button_profil {
    font-size: 1.3em;
}

.plus_button {
  padding: 5px 10px;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  float: right;
  background-color: #E74C3C;
}