/* line 7, ../sass/details.scss */
.result_title {
  font-size: 1.3em;
}

/* line 11, ../sass/details.scss */
.result_author {
  font-size: 1.1em;
}

/* line 14, ../sass/details.scss */
.bs-component {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 18, ../sass/details.scss */
.bs-component a {
  text-align: left;
  /*font-size: 0.7em;*/
}

/* line 23, ../sass/details.scss */
.bs-component a img {
  width: 45px;
}

/* line 27, ../sass/details.scss */
.no_synthese {
  margin-top: 15%;
  color: #b4b4b4;
  text-align: center;
}

/* line 33, ../sass/details.scss */
.star-icon {
  color: #ddd;
  font-size: 1.5em;
  position: relative;
}

/* line 38, ../sass/details.scss */
.star-icon.full:before {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  color: #FDE16D;
  content: '\2605';
  /* Full star in UTF-8 */
  position: absolute;
  left: 0;
}

/* line 45, ../sass/details.scss */
.star-icon.half:before {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  color: #FDE16D;
  content: '\2605';
  /* Full star in UTF-8 */
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

@-moz-document url-prefix() {
  /* Firefox Hack :( */
  /* line 55, ../sass/details.scss */
  .star-icon {
    font-size: 50px;
    line-height: 34px;
  }
}

/* line 60, ../sass/details.scss */
.stars {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10.5px;
  background: url("../img/rating_stars_30.png") no-repeat;
  height: 30px;
  background-position: -20px -60px;
  /*Multiple de 34px*/
  width: 150px;
}

/* line 69, ../sass/details.scss */
.stars_yellow {
  /*margin-left: 15px;*/
  background: url("../img/rating_stars_30.png") no-repeat;
  height: 30px;
  background-position: -20px -20px;
  /*Multiple de 34px*/
  width: 100%;
}

/* line 76, ../sass/details.scss */
.current_note_hidden {
  background: none;
}

/* line 81, ../sass/details.scss */
.vote_note_1 {
  background: none;
  position: relative;
  left: 0px;
  height: 30px;
  top: -150px;
}

/* line 88, ../sass/details.scss */
.vote_note_1:hover {
  background: url("../img/rating_stars_30.png") no-repeat;
  background-position: -20px -20px;
  /*Multiple de 34px*/
}

/* line 81, ../sass/details.scss */
.vote_note_2 {
  background: none;
  position: relative;
  left: 0px;
  height: 30px;
  top: -120px;
}

/* line 88, ../sass/details.scss */
.vote_note_2:hover {
  background: url("../img/rating_stars_30.png") no-repeat;
  background-position: -20px -20px;
  /*Multiple de 34px*/
}

/* line 81, ../sass/details.scss */
.vote_note_3 {
  background: none;
  position: relative;
  left: 0px;
  height: 30px;
  top: -90px;
}

/* line 88, ../sass/details.scss */
.vote_note_3:hover {
  background: url("../img/rating_stars_30.png") no-repeat;
  background-position: -20px -20px;
  /*Multiple de 34px*/
}

/* line 81, ../sass/details.scss */
.vote_note_4 {
  background: none;
  position: relative;
  left: 0px;
  height: 30px;
  top: -60px;
}

/* line 88, ../sass/details.scss */
.vote_note_4:hover {
  background: url("../img/rating_stars_30.png") no-repeat;
  background-position: -20px -20px;
  /*Multiple de 34px*/
}

/* line 81, ../sass/details.scss */
.vote_note_5 {
  background: none;
  position: relative;
  left: 0px;
  height: 30px;
  top: -30px;
}

/* line 88, ../sass/details.scss */
.vote_note_5:hover {
  background: url("../img/rating_stars_30.png") no-repeat;
  background-position: -20px -20px;
  /*Multiple de 34px*/
}

/* line 95, ../sass/details.scss */
.abtn {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  border-radius: 4px;
}

/* line 105, ../sass/details.scss */
.abtn:hover {
  color: white;
  text-decoration: none;
}

/* line 110, ../sass/details.scss */
.see_extract {
  color: black;
  background-color: #d0d0d0;
}

/* line 115, ../sass/details.scss */
.see_extract:hover {
  color: black;
  background-color: gainsboro;
}

/* line 120, ../sass/details.scss */
.buy_resume {
  font-size: 15px;
  background-color: #3d3d3d;
  border: 0;
  padding: 0;
}

/* line 127, ../sass/details.scss */
.buy_resume:hover {
  background-color: #4b4b4b;
}

/* line 131, ../sass/details.scss */
.misc_info.price {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 1.2em;
  color: #bb4545;
}

/* line 138, ../sass/details.scss */
.misc_info {
  font-family: 'Helvetica Neue';
  font-size: 0.75em;
  padding: 0;
}

/* line 144, ../sass/details.scss */
.list_extract {
  margin-top: 50px;
}

/* line 148, ../sass/details.scss */
.repre_image {
  margin-bottom: 30px;
  /*text-align: center;*/
}

/* line 153, ../sass/details.scss */
.plus_button {
  padding: 5px 10px;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  float: right;
}

/* line 160, ../sass/details.scss */
.repre_image .image_extract {
  width: 150px;
  height: 50%;
  box-shadow: 3px 3px 8px #555;
  background: #dfd290;
  text-align: center;
  padding: 15px;
  margin: auto;
}

/* line 169, ../sass/details.scss */
.result_description {
  padding: 0;
  width: 150px;
  margin: auto;
}

/* line 174, ../sass/details.scss */
.image_extract img {
  box-shadow: 0px 0px;
  width: 50%;
  margin: 10% 25%;
}

/* line 179, ../sass/details.scss */
.result_info_etiquette {
  /*box-shadow: 3px 3px 8px #555;*/
  /*text-align: center;*/
}

/* line 183, ../sass/details.scss */
.author_name, .title_extract {
  font-family: 'Helvetica Neue';
  font-weight: bold;
}
