/* line 4, ../sass/button.scss */
.btn_call, .btn_call_sec {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out;
  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.42857;
  border-radius: 4px;
  -moz-user-select: none;
  background-color: #53c1ac;
  color: white;
}

/* line 27, ../sass/button.scss */
.btn_call:hover, .btn_call_sec:hover {
  background-color: #5a9b8e;
}

/* line 32, ../sass/button.scss */
.btn_call_sec {
  background-color: #9bd2c7;
}

/* line 37, ../sass/button.scss */
.button {
  /*background: none;*/
  border: none;
  font-weight: bold;
}

/* line 43, ../sass/button.scss */
.button-publier {
  color: #FFBF00;
}

/* line 47, ../sass/button.scss */
.button_profil {
  font-size: 1.3em;
}

/* line 51, ../sass/button.scss */
.plus_button {
  padding: 5px 10px;
  font-weight: bold;
  float: right;
  background-color: #E74C3C;
}

/* line 6, ../sass/edition.scss */
*:focus {
  outline: none;
}

/* line 10, ../sass/edition.scss */
body {
  font-size: 22px;
  line-height: 30px;
}

/* line 15, ../sass/edition.scss */
#container {
  width: 960px;
  margin: 30px auto;
}

/* line 20, ../sass/edition.scss */
h1 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 40px;
  letter-spacing: -2px;
  border-bottom: 1px solid #dbdbdb;
}

/* line 28, ../sass/edition.scss */
h2 {
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 20px;
}

/* line 33, ../sass/edition.scss */
h3 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 20px;
}

/* line 39, ../sass/edition.scss */
h4 {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 20px;
}

/* line 44, ../sass/edition.scss */
p {
  margin-bottom: 5px;
}

/* line 48, ../sass/edition.scss */
a {
  color: #2c3e50;
}

/* line 52, ../sass/edition.scss */
a:hover {
  color: green;
}

/* line 56, ../sass/edition.scss */
blockquote {
  display: block;
  padding-left: 20px;
  border-left: 6px solid #df0d32;
}

/* line 64, ../sass/edition.scss */
.editable,
.secondEditable {
  outline: none;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  /*border-bottom: 1px solid #dbdbdb;*/
}

/* line 71, ../sass/edition.scss */
pre {
  font-family: 'Menlo', monospace;
  font-size: 15px;
  background-color: #f0f0f0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #666;
}

/* line 81, ../sass/edition.scss */
#container {
  width: 960px;
  margin: 30px auto;
}

/* line 89, ../sass/edition.scss */
blockquote {
  border-left: 5px solid #555;
  margin-left: -15px;
  padding-left: 15px;
  font-style: italic;
  color: #555;
}

/* line 97, ../sass/edition.scss */
.repre_image {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 102, ../sass/edition.scss */
.repre_image img {
  width: 100%;
  box-shadow: 3px 3px 8px #555;
}

/* line 107, ../sass/edition.scss */
.result_info {
  font-family: 'Helvetica Neue Thin';
}

/* line 111, ../sass/edition.scss */
.result_title {
  overflow-y: hidden;
}

/* line 115, ../sass/edition.scss */
.result_title {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 2%;
  font-size: 1.2em;
}

/* line 122, ../sass/edition.scss */
.result_author {
  color: #b4b4b4;
  font-size: 1.1em;
}

/* line 126, ../sass/edition.scss */
.titre_synth {
  margin-top: 0;
}

/* line 130, ../sass/edition.scss */
.edition_bold {
  /*font-family: "Helvetica Neue";*/
  font-weight: bold;
}

/* line 135, ../sass/edition.scss */
.medium-editor-placeholder:after {
  position: absolute;
  top: 3px;
  left: 15px;
  content: attr(data-placeholder) !important;
  font-style: italic;
}

/* line 143, ../sass/edition.scss */
#cadre_edition {
  display: block;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  color: #333;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

/* line 153, ../sass/edition.scss */
#cadre_edition:focus {
  outline: none;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1), 0 0 3px 1px #53c1ac;
}

/* line 161, ../sass/edition.scss */
.price_selector {
  display: inline-block;
  margin-top: 15px;
  height: 50px;
  width: 75px;
  border: none;
  background: none;
}
