/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* line 3, ../sass/homepage/vignette.scss */
.container_vignettes {
  padding-left: 10%;
  padding-right: 10%;
}

/* line 8, ../sass/homepage/vignette.scss */
.vignette_img {
  display: block;
  margin: auto;
  width: 100px;
  margin-bottom: 20px;
}

/* line 15, ../sass/homepage/vignette.scss */
.picto_head {
  margin-top: -6px;
}

/* line 18, ../sass/homepage/vignette.scss */
.vignette_sub {
  color: white;
  text-align: center;
  font-size: 1.15em;
}

/* line 23, ../sass/homepage/vignette.scss */
#last_vignette_book {
  padding-top: 50px;
}

/* line 27, ../sass/homepage/vignette.scss */
.third_row .vignette_sub, .fourth_row .vignette_sub {
  color: #4a4a4a;
}

/* line 31, ../sass/homepage/vignette.scss */
.ligne_vignette {
  padding-top: 110px;
}

/* line 36, ../sass/homepage/vignette.scss */
#cmt_ca_marche {
  height: auto;
}

/* line 39, ../sass/homepage/vignette.scss */
#cmt_ca_marche h1 {
  text-align: center;
}

/* line 42, ../sass/homepage/vignette.scss */
#cmt_ca_marche ol {
  font-weight: bold;
  font-size: 50px;
}

/* line 46, ../sass/homepage/vignette.scss */
#cmt_ca_marche li {
  list-style-type: decimal;
}

/* line 49, ../sass/homepage/vignette.scss */
#cmt_ca_marche li span {
  font-weight: normal;
  font-size: 16.1px;
}

@media (max-width: 992px) {
  /* line 55, ../sass/homepage/vignette.scss */
  .container_vignettes {
    height: auto;
    padding-bottom: 56px;
  }

  /* line 59, ../sass/homepage/vignette.scss */
  .ligne_vignette {
    padding-top: 10px;
  }
}
/* line 4, ../sass/homepage/list.scss */
.list_container {
  margin: auto;
  margin-bottom: 56px;
  color: #4a4a4a;
  width: 80%;
}

/* line 12, ../sass/homepage/list.scss */
.list_number {
  display: inline-block;
  font-size: 80px;
  font-weight: bold;
  margin-top: 0;
  vertical-align: top;
}

/* line 20, ../sass/homepage/list.scss */
.list_text {
  display: inline-block;
  padding-left: 20px;
  margin: auto;
  width: 90%;
  vertical-align: top;
}

/*html, body {

    height:100%;
}*/
/* Changements pour la barre de navigation */
/* line 13, ../sass/homepage.scss */
.nav-bar-kooblit {
  position: absolute;
  top: 27px;
  background: none;
}
/* line 17, ../sass/homepage.scss */
.nav-bar-kooblit .navbar-header {
  background: none;
}
/* line 20, ../sass/homepage.scss */
.nav-bar-kooblit .navbar-collapse {
  background: none;
}

/* line 24, ../sass/homepage.scss */
#kooblit_name {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

/* line 28, ../sass/homepage.scss */
#home_profil {
  background: none;
}

/* line 31, ../sass/homepage.scss */
#block_content {
  height: 100%;
  padding-top: 0;
}

/* line 35, ../sass/homepage.scss */
.navbar-nav > li > a.navbar_login {
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  padding-top: 30px;
  padding-bottom: 0px;
}

/* line 42, ../sass/homepage.scss */
.navbar-nav > li > a.navbar_inscription {
  font-weight: bold;
}

/* line 45, ../sass/homepage.scss */
.navbar-nav > li > a.navbar-brand {
  padding-top: 18px;
}

/* line 48, ../sass/homepage.scss */
img.point_kooblit {
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.59));
  filter: url("shadow.svg#drop-shadow");
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

/* Fleche vers le haut */
/* line 56, ../sass/homepage.scss */
#arrow_up {
  position: fixed;
  bottom: 66px;
  right: 30px;
  font-size: 40px;
  z-index: 999999;
}

/* Lignes */
/* line 65, ../sass/homepage.scss */
.first_row {
  background: url("../img/HP_page1.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  padding-top: 70px;
  height: auto;
}

/* line 73, ../sass/homepage.scss */
.last_first_row {
  position: absolute;
  bottom: 66px;
}

/* line 78, ../sass/homepage.scss */
.homepage_quote {
  margin-top: 110px;
  color: white;
}

/* line 83, ../sass/homepage.scss */
.homepage_quote h1 {
  color: #fbfbfb;
  text-shadow: 0px 0px 8px black;
  font-weight: bold;
  margin-bottom: 60px;
}

/* line 90, ../sass/homepage.scss */
.homepage_quote h3 {
  color: #fbfbfb;
  text-shadow: 0px 0px 8px black;
  font-weight: bold;
  /*text-shadow: 1px 1px black;*/
  padding-top: 60px;
}

/* line 98, ../sass/homepage.scss */
.homepage_icon {
  top: -30px;
}

/* line 102, ../sass/homepage.scss */
.homepage_icon a {
  display: block;
  height: 100px;
  width: 100px;
  margin: auto;
}

/* line 109, ../sass/homepage.scss */
.homepage_icon img {
  width: 100px;
}

/* line 113, ../sass/homepage.scss */
.homepage_icon div {
  text-align: center;
}

/* line 117, ../sass/homepage.scss */
.voir_publiees {
  width: 150px;
  font-size: 15px;
  padding: 8px 0px;
  line-height: 0.9;
}

/* line 123, ../sass/homepage.scss */
#search_form_homepage {
  overflow: hidden;
  width: 90%;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 129, ../sass/homepage.scss */
#search_form_homepage button.icon {
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0;
  border: none;
  background: none;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  margin-left: -50px;
}

/* line 145, ../sass/homepage.scss */
#search_bar_homepage {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  /*font-size: 10pt;*/
  float: left;
  color: #53c1ac;
  padding-left: 15px;
  border-radius: 5px;
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 20px;
  line-height: 1.42857;
  /*display: inline;*/
}

/* line 165, ../sass/homepage.scss */
.img_search {
  display: inline;
  width: 50px;
}

/* line 169, ../sass/homepage.scss */
input#search_bar_homepage::-webkit-input-placeholder {
  color: #53c1ac;
}

/* line 173, ../sass/homepage.scss */
input#search_bar_homepage:-ms-input-placeholder {
  color: #53c1ac;
}

/* line 177, ../sass/homepage.scss */
input#search_bar_homepage:-moz-placeholder {
  color: #53c1ac;
}

/* line 181, ../sass/homepage.scss */
input#search_bar_homepage::-moz-placeholder {
  color: #53c1ac;
}

/* line 186, ../sass/homepage.scss */
.row_media {
  position: relative;
  height: 100%;
}
/* line 189, ../sass/homepage.scss */
.row_media a {
  text-decoration: none;
}
/* line 192, ../sass/homepage.scss */
.row_media a:hover {
  color: #5a9b8e;
}

/* line 196, ../sass/homepage.scss */
.homepage_content {
  height: 100%;
}

/* line 199, ../sass/homepage.scss */
.second_row, .third_row, .fourth_row {
  background: url("../img/entonnoir.png") no-repeat center;
  background-size: contain;
  background-color: #8fc9c0;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

/* line 207, ../sass/homepage.scss */
.third_row, .fourth_row {
  background: #fafafa;
}
/* line 210, ../sass/homepage.scss */
.third_row h1, .fourth_row h1 {
  text-align: center;
  margin-top: 150px;
}

/* line 217, ../sass/homepage.scss */
.fourth_row h1 {
  margin-top: 100px;
  margin-bottom: 112px;
}

/* line 222, ../sass/homepage.scss */
.cache {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

/* line 230, ../sass/homepage.scss */
.bande_couleur {
  background: #53c1ac;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 56px;
}

/* line 238, ../sass/homepage.scss */
.bande_couleur h3 {
  font-weight: bold;
  font-size: 20px;
}

/* line 242, ../sass/homepage.scss */
.bande_couleur a {
  color: black;
  width: 100%;
  height: 56px;
}

/* Responsive */
@media (max-width: 992px) {
  /* line 255, ../sass/homepage.scss */
  .row_media {
    height: auto;
  }

  /* line 258, ../sass/homepage.scss */
  .second_row, .third_row, .fourth_row {
    height: auto;
  }

  /* line 261, ../sass/homepage.scss */
  .last_first_row {
    position: relative;
    bottom: 0;
    margin-bottom: 10px;
  }

  /* line 266, ../sass/homepage.scss */
  h3 {
    font-size: 20px;
  }
}
@media (max-height: 640px) {
  /* line 271, ../sass/homepage.scss */
  .voir_publiees {
    margin-bottom: 56px;
  }
}
@media (max-width: 768px) {
  /* line 277, ../sass/homepage.scss */
  .navbar-nav > li > a.navbar-brand {
    padding-top: 0;
  }
}
