/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* line 3, ../sass/lecture.scss */
#block_content {
  padding-top: 0;
}

/* line 6, ../sass/lecture.scss */
.resume {
  margin-top: 50px;
  margin-bottom: 200px;
}

/* line 11, ../sass/lecture.scss */
.header_title {
  color: #232323;
}

/* line 15, ../sass/lecture.scss */
.book_title {
  color: #7f7f7f;
}

/* line 19, ../sass/lecture.scss */
.navbar {
  border: none;
}

/* line 22, ../sass/lecture.scss */
.row_image_couv {
  margin-top: 70px;
}

/* line 25, ../sass/lecture.scss */
#block_content {
  padding-bottom: 55px;
  font-size: 16px;
}

/* line 30, ../sass/lecture.scss */
.titre_synth {
  margin-top: 10px;
  text-align: center;
}

/* line 34, ../sass/lecture.scss */
.edition_bold {
  font-weight: bold;
}

/* line 38, ../sass/lecture.scss */
#wrap > .header_container {
  padding-top: 10px;
}

/* line 41, ../sass/lecture.scss */
.fa-home {
  font-size: 50px;
}

/* line 44, ../sass/lecture.scss */
footer {
  padding: 0;
  position: fixed;
  bottom: 0;
  background-color: #efefef;
  width: 100%;
  text-align: left;
  background: none;
}

/* line 54, ../sass/lecture.scss */
footer .container {
  padding-top: 15px;
  /*padding-bottom: 15px;*/
  border-top: 1px solid gainsboro;
}

/* line 60, ../sass/lecture.scss */
footer .footer_link {
  float: right;
  height: 44px;
  margin: auto;
  margin-right: 10px;
  font-size: 17px;
  color: #7f7f7f;
  margin-bottom: 10px;
}

/* line 70, ../sass/lecture.scss */
footer .footer_link .btn {
  height: 44px;
  background-color: #18BC9C;
  color: white;
}

/* line 78, ../sass/lecture.scss */
footer .footer_link .fa {
  vertical-align: middle;
  font-size: 25px;
}

/* line 83, ../sass/lecture.scss */
footer .footer_link .btn:hover {
  text-decoration: none;
  background-color: #0F7864;
  /*box-shadow: 2px 2px 2px 0px #0F7864;*/
}

/* line 89, ../sass/lecture.scss */
footer .pagination {
  margin: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* line 95, ../sass/lecture.scss */
.repre_image {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 150px;
}

/* line 102, ../sass/lecture.scss */
.repre_image img {
  width: 100%;
  box-shadow: 3px 3px 8px #555;
}

/* line 106, ../sass/lecture.scss */
.bs-component {
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: bold;
}

/* line 113, ../sass/lecture.scss */
.bs-component a {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #7f7f7f;
}

/* line 120, ../sass/lecture.scss */
.bs-component a:hover {
  color: #18bc9c;
  text-decoration: none;
}

/* line 125, ../sass/lecture.scss */
.bs-component a img {
  display: inline;
  width: 30px;
}
