.resume {
  margin-top: 50px;
  margin-bottom: 200px;
}

.header_title {
  color: rgb(35, 35, 35);
}

.book_title {
  color: rgb(127, 127, 127);
}

footer {
  padding: 0;
  position: fixed;
  bottom: 0;
  background-color: rgb(239, 239, 239);
  width: 100%;
  text-align: left;
  background:none;
}

footer .container {
  padding-top: 15px;
  /*padding-bottom: 15px;*/
  border-top: 1px solid rgb(220, 220, 220);
}

footer .to_top {
  float: right;
  height: 44px;
  margin: auto;
  margin-right: 10px;
  font-size: 17px;
  color: rgb(127, 127, 127);
  margin-bottom: 10px;
}

footer .to_top .btn {
  height: 44px;  
}



footer .to_top .fa {
  vertical-align: middle;
  font-size: 25px;

}

footer .to_top:hover {
  text-decoration: none;
}

footer .pagination {
  margin: auto;
  margin-left:10px;
  margin-bottom: 10px;
}