.img_container{
    overflow: hidden;
    /*width: 140px;*/
    /*border: 1px solid #ddd;*/
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
.img_container:hover {
        opacity: .7;
        overflow: visible;
        -webkit-transform: scale(1.01,1.01);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1.01,1.01);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
        position: relative;
        z-index: 99;
    }
.container.container_result{
    width: 100%;
    padding: 0 0 0 0;

}



.img_container::before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}
.repre_image {
    width: 80%;
    height: 300px;
    background: no-repeat center center ; 
    background-size: contain;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.repre_image::before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}


.img_res {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.thumbnail {
  height:50px;
  width:50px;
  /*margin:auto;*/
  display: block;
  padding: 4px;
  margin-bottom: 21px;
  line-height: 1.42857143;
  background-color: #DDDDDD;
  border: 0px;
  /*border-radius: 0px;*/
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  background-color: #D0D0D0;
}

a:hover,
a:focus {
  /*color: #18bc9c;*/
  /*text-decoration: underline;*/
}


.thumbnail img{
    width: 30px;
    height: 30px;
    display: block;
    text-align:center;
    margin-top:5px;
}
.carousel-control{
    background: none;
    background-image: none;
}
.carousel-control.left{
    background: none;
    background-image: none;   
}
.carousel-control.right{
    background: none;
    background-image: none;   
}
