.sub_img_container{
  padding: 0px;
  padding-top: 20px;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.results_header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.results_header h1 {
  font-family: 'Helvetica Neue Thin';
  color: rgb(74,74,74);
  margin: 3px 0;
}

.results_header h2 {
  font-family: 'Helvetica Neue Thin';
  color: rgb(180,180,180);
  margin: 3px 0;
}

.row_plus {
  margin-top: 40px;
  margin-bottom: 40px;
}


.repre_image {
  height: 160px;
  display: table-cell;
  float:none;
  vertical-align: bottom;
}

.repre_image img{
  box-shadow: 3px 3px 8px #555;
  position: relative;
  bottom: 0;
  display: block;
  max-height:160px;
  width: auto;
  max-width: 107px;
}

.result_info {
  font-family: 'Helvetica Neue Thin';
}

.result_title {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 15px;
  font-size: 15px;
  color: rgb(74,74,74);
  font-family: 'Helvetica Neue Bold';
}

.result_author {
  color: rgb(180,180,180);
}

.book_sub, .Book_Sub {
  font-size: 0.6em;
}

.element_0 {
  padding-left: 0;
}