// Couleurs du site

$html_background_color: #FAFAFA;
$important_action_bckgd_hover: #EB7325;
$important_action_bckgd: #FF934E;
$call_to_action_bckgd: #53C1AC;
$call_to_action_bckgd_hover: rgba(90, 155, 142, 1);
$call_to_action_color: #FFF;
$call_sec_bckgd: rgba(155, 210, 199, 1);
$nav_link_color: $call_to_action_bckgd;
$nav_link_color_visited: $call_sec_bckgd;
$nav_link_color_hover: $call_to_action_bckgd_hover;
$nav_link_background_color: $html_background_color;
$a_link_on_call_color: black;
