// Couleurs du site

$html_background_color: #FAFAFA;
$nav_link_color: rgb(44, 62, 80);
$nav_link_background_color: $html_background_color;
$call_to_action_bckgd: rgb(83, 193, 172);
$call_to_action_bckgd_hover: rgba(90, 155, 142, 1);
$call_to_action_color: #FFF;
$call_sec_bckgd: rgba(155, 210, 199, 1);