$bande_heigth:56px;

$nav_bar_len: 70px;
$screen-xs-max: 500px;
/* Small devices (tablets, 768px and up) */
$screen-sm-max: 768px;
/* Medium devices (desktops, 992px and up) */
 $screen-md-max: 992px;
/* Large devices (large desktops, 1200px and up) */
$screen-lg-max: 1200px;

$screen-h-md-max: 640px;