@import 'utilities/colors';
@import 'utilities/unities';
@import 'homepage/vignette';
@import 'homepage/list';

$search_font_height: 20px;
$top_bar: 15px;
/*html, body {

    height:100%;
}*/

/* Changements pour la barre de navigation */
.nav-bar-kooblit{
  position: absolute;
  top: $top_bar;
  background: none;
  .navbar-header {
    background: none;
  }
  .navbar-collapse{
    background: none;
  }
}
#kooblit_name{
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-weight: bold;
}
#home_profil{
  background: none;
}
#block_content {
  height: 100%;
  padding-top: 0;
}
.navbar-nav > li > a.navbar_login {
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
  padding-top: 30px;
  padding-bottom: 0px;
}
.navbar-nav > li > a.navbar_inscription {
  font-weight: bold;
}
.navbar-nav > li > a.navbar-brand{
  padding-top: 18px;
}
img.point_kooblit{
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.59));
  filter: url("shadow.svg#drop-shadow");
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

strong {
  color: $call_to_action_bckgd;
}


/* Fleche vers le haut */
#arrow_up{
  position: fixed;
  bottom: 10px + $bande_heigth;
  right: 30px;
  font-size: 40px;
  z-index: 999999;
}

/* Lignes */
.first_row {
  background: url("../img/HP_page1.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  padding-top: $nav_bar_len + $top_bar;
  height: auto;
}
.last_first_row{
  position: absolute;
  bottom: $bande_heigth +10px;
  width: auto;
}

.homepage_quote {
  margin-top: 110px;
  color: white;
}
$marge_title_first: 60px;
.homepage_quote h1{
  color: rgb(251, 251, 251);
  text-shadow: 0px 0px 8px black;
  font-weight: bold;
  margin-bottom: $marge_title_first;
}

.homepage_quote h3{
  color: rgb(251, 251, 251);
  text-shadow: 0px 0px 8px black;
  font-weight: bold;
  /*text-shadow: 1px 1px black;*/
  padding-top: $marge_title_first;
}

.homepage_icon {
  top: -30px;
}

.homepage_icon a {
  display: block;
  height: 100px;
  width: 100px;
  margin: auto;
}

.homepage_icon img {
  width: 100px;
}

.homepage_icon div {
  text-align: center;
}

.voir_publiees{
  width: 150px;
  font-size: 15px;
  padding: 8px 0px;
  line-height: 0.9;
}
#search_form_homepage{
  overflow: hidden;
  width: 90%;
  vertical-align: middle;
  white-space: nowrap;
}
#search_form_homepage button.icon{
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  
  padding: 0;
  border: none;
  background: none;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  margin-left: -50px;
}
#search_bar_homepage{
  width: 100%;
  height: 50px;
  background: rgba(255,255,255,0.8);
  border: none;
  /*font-size: 10pt;*/
  float: left;
  color: $call_to_action_bckgd;
  padding-left: 15px;
  border-radius: 5px;
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: $search_font_height;
  line-height: 1.42857;
  /*display: inline;*/
}
.img_search{
  display: inline;
  width: 50px;
}
input#search_bar_homepage::-webkit-input-placeholder{ 
  color: $call_to_action_bckgd; 
}
 
input#search_bar_homepage:-ms-input-placeholder{ 
  color: $call_to_action_bckgd; 
}
 
input#search_bar_homepage:-moz-placeholder{ 
  color: $call_to_action_bckgd; 
}
 
input#search_bar_homepage::-moz-placeholder { 
  color: $call_to_action_bckgd; 
}
 

.row_media{
    position: relative;
    height: 100%;
    a {
      text-decoration: none;
    }
    a:hover {
      color: $nav_link_color_hover;
    }
}
.homepage_content {
    height: 100%;
}
.second_row {
  background: url("../img/entonnoir.png") no-repeat center;
  background-size: contain;
  background-color:  #8fc9c0;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}
.third_row {
  @extend .second_row;
  background: $html_background_color;
  h1 {
    text-align: center;
    margin-top: 150px;
  }
}
.fourth_row {
  @extend .third_row;
  h1 {
    margin-top: 100px;
    margin-bottom: $bande_heigth*2;
  }
}
.cache{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}



.bande_couleur {
  background:  $call_to_action_bckgd;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: $bande_heigth;
}
.bande_couleur h3{
  font-weight: bold;
  font-size:20px;
}
.bande_couleur a {
  color: $a_link_on_call_color;
  width: 100%;
  height: $bande_heigth;
}





/* Responsive */ 
@media (max-width:  $screen-md-max){

  .row_media{
    height: auto;
  }
  .second_row {
    height: auto; 
  }
  .last_first_row{
    position: relative;
    bottom: 0;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 20px;
  }
}
@media (max-height: $screen-h-md-max){
  .voir_publiees{
    margin-bottom: $bande_heigth;
  }
}

@media (max-width:  $screen-sm-max){
  .navbar-nav > li > a.navbar-brand{
    padding-top: 0;
  }
}