{% extends "navigation/base.html" %}
{% load static %}

{% block nav_header %}
  <ul class="navbar-nav">
    <li>
      <span class="navbar-brand" >
       <img class="point_kooblit" src="{% static "img/logo/little_baniere_kooblit.png" %}" alt="Logo Kooblit" />
      </span>
    </li>
  </ul>
{% endblock %}

{% block nav_profile %}
  {% if user.is_authenticated %}
    {{ block.super }}
  {% else %}
    <li>
      <a href="{% url 'usr_management:login' %}#enregistrement" class="navbar_login navbar_inscription"> S'inscrire</a>
    </li>
    <li>
      <a href="{% url 'usr_management:login' %}#connection" class="navbar_login"> Se connecter</a>
    </li>
  {% endif %}
{% endblock %}
