{% extends "main_base.html" %}
{% load staticfiles %}

{% block wrapped_content %}
<nav class="nav-bar-kooblit navbar navbar-fixed-top navbar-default " role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <ul class="navbar-nav">
        <li>
          <a class="navbar-brand" href="{% url 'homepage'%}">
           <img class="point_kooblit" src="{% static "img/logo/owl_grey.png" %}"alt="Logo Kooblit" />&nbsp;Kooblit
          </a>
        </li>
      </ul>
    </div>

     <div class="collapse navbar-collapse">
      <form id="search_form" class="collapse navbar-collapse navbar-form navbar-left" action="{% url 'search_engine:search' %}" role="search" method="get" onsubmit="return display_loader('#ajax_loader')" >
        <div class="form-group">
          <div class="dropdown">
            <input id="search_bar" type="text" class="form-control " placeholder="Rechercher un ouvrage..." name='title'>
            <img src="{% static "img/ajax-loader.gif"%}" id="ajax_loader" />
          </div>
        </div>
        <button type="submit" style="display:none;" ></button>
      </form>

      <ul class="nav navbar-nav navbar-right">
      {% if request.nbre_achats %}
        <li class="icon_navbar">
          <a href="{% url 'achats:cart_details' %}" class="dropdown-toggle">
            <!-- <i class="fa fa-shopping-cart"></i> -->
            <img class="icon_navbar" src="{% static 'img/ico/Cart.png'%}" class="navbar_img" />
            <span class="badge">{{ request.nbre_achats }}</span>
            <!-- <i class="fa fa-angle-down"></i> -->
          </a>
        </li>
      {% endif %}
         {% if user.is_authenticated %}
           <li class="icon_navbar dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img class="icon_navbar" alt="" src="{% static "img/ico/Home.png" %}">
              <!-- <span class="username">
              </span> -->
              <!-- <i class="fa fa-angle-down"></i> -->
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'users' user.username %}"><i class="fa fa-user"></i> Mon profil </a>
                </li>

                <li class="divider"></li>

                <li>
                  <a href="{% url 'usr_management:logout' %}"><i class="fa fa-key"></i> Log Out</a>
                </li>
              </ul>
            </li> <!-- dropDown User -->

            <!-- <li><a href="{% url 'usr_management:logout' %}"> Se déconnecter </a></li> -->
         {% else %}
           <li>
              <a href="{% url 'usr_management:login' %}#enregistrement" class="navbar_login"> S'enregistrer</a>
            </li>
           <li>
              <a href="{% url 'usr_management:login' %}#connection" class="navbar_login"> Se connecter</a>
            </li>
         {% endif %}
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
  <div id="block_content">
    {% block content %}{% endblock %}
  </div>
</div> <!-- /.wrap -->
{% endblock %}