{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns:svg="http://www.w3.org/2000/svg">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Franck ROLAND">
    <link rel="shortcut icon" href="{% static "img/ico/point_kooblit.ico" %}">

    <title>KOOBLIT</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/typeahead.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    {% block extra_css %}{% endblock %}
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand dropdown" href="#" style="font-family:'Abadi MT Condensed Extra Bold'">KOOBLIT<img class="point_kooblit" src="{% static "img/ico/point_kooblit.ico" %}" width="10" alt="Point Kooblit"/></a>
        </div>
        <div class="collapse navbar-collapse">
          <div class="dropdown">
            <form class="navbar-form navbar-left" action="{% url 'search_engine:search' %}" role="search" method="get" >
              <div class="form-group">
                <input type="text" class="form-control " placeholder="Rechercher un ouvrage..." name='title'>
              </div>
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </form>
          </div>
          <ul class="nav navbar-nav pull-right">
             <li><a href="#about"> S'enregistrer </a></li>
             <li> <a href="#about"> Se connecter </a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->
    {% block content %}{% endblock %}
    <div class="container" >
      <div class="row row-offcanvas row-offcanvas-right">
        <hr>
        <footer>
          <p>&copy; Kooblit 2014</p>
        </footer>
      </div><!--/.container-->
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>
    <!-- <script src="jquery-ui.min.js" type="text/javascript"></script> -->
    <script src="{% static "js/typehead.js" %}" type="text/javascript"></script>
    <script src="{% static "js/search_bar.js" %}" type="text/javascript"></script>
    {% block script_block %}{% endblock %}
  </body>
</html>

