{% extends "main_base.html" %}
{% load staticfiles %}

{% block wrapped_content %}
<nav class="nav-bar-kooblit navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-logo navbar-cell">
      <a class="navbar-brand" href="{% url 'homepage'%}">
       <img src="{% static "img/logo/owl_grey.png" %}"alt="Logo Kooblit" />&nbsp;Kooblit
      </a>
    </div>

    <div class="navbar-cell">
      <form id="search_form" action="{% url 'search_engine:search' %}" role="search" method="get" onsubmit="return display_loader('#ajax_loader')" >
        <div class="form-group">
          <input id="search_bar" type="text" class="form-control " placeholder="Rechercher un ouvrage..." name='title'>
          <img src="{% static "img/ajax-loader.gif"%}" id="ajax_loader" />
        </div>
        <button type="submit" style="display:none;" ></button>
      </form>
    </div>

    <div class="navbar-cell">
      <ul class="icon_navbar_group">
        {% if request.nbre_achats %}
          <li class="icon_navbar">
            <a href="{% url 'achats:cart_details' %}" class="dropdown-toggle">
              <img class="icon_navbar" src="{% static 'img/ico/Cart.png'%}" class="navbar_img" />
              <span class="badge">{{ request.nbre_achats }}</span>
            </a>
          </li>
        {% endif %}

        {% if user.is_authenticated %}
          <li class="icon_navbar dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <img class="icon_navbar" alt="" src="{% static "img/ico/Home.png" %}">
            </a>

            <ul class="dropdown-menu">
              <li>
                <a href="{% url 'users' user.username %}"><i class="fa fa-user"></i> Mon profil </a>
              </li>

              <li class="divider"></li>

              <li>
                <a href="{% url 'usr_management:logout' %}"><i class="fa fa-key"></i> Log Out</a>
              </li>
            </ul>
          </li>

        {% else %}
          <li class="icon_navbar">
             <a href="{% url 'usr_management:login' %}#enregistrement" class="navbar_login"> S'enregistrer</a>
          </li>
          <li class="icon_navbar">
             <a href="{% url 'usr_management:login' %}#connection" class="navbar_login"> Se connecter</a>
           </li>
        {% endif %}
      </ul>
    </div>

  </div>
</nav>

<div id="block_content">
  {% block content %}{% endblock %}
</div>
{% endblock %}
