{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class=" container col-md-12" style="padding-top:10px;background-color: rgba(0, 0, 0, 0.05);padding-bottom:20px;border-bottom:2px solid rgb(214, 214, 214);">
{% if results %}
<div class="container col-md-12">
  <h1> Cart </h1>
  {% for synth, index  in results %}
  <div>
    <form method="POST">{% csrf_token %}
     <input type="hidden" name="synthese_id" value="{{index}}">
     <h4>{{synth.0}}</h4> {{synth.1}}€ <button type="submit">x</button>
     </form>
  </div>
  {% endfor %}
  <div>
     <h4>Total</h4> {{total}}€
  </div>

<hr/>
</div>
<a href="{% url 'achats:paiement' %}" class="btn"> Valider le panier </button>
{% else %}
<div class="container col-md-12">
  <h1> Votre panier est vide </h1>
</div>
{% endif %}

{% endblock %}
