{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link href="{% static "css/login.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 id="enregistrement"> S'enregistrer </h1>
<form name='signup_form' class="django_form" onsubmit="return validateForm()" action="{% url 'usr_management:login' %}?next={{ next_url }}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        <label for="id_subject">Pseudo:</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="fieldWrapper">
        <label for="id_subject">Prenom:</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
    </div>
    <div class="fieldWrapper">
        <label for="id_subject">Nom:</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
    </div>
    <div class="fieldWrapper">
        <label for="id_subject">Adresse Mail:</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="fieldWrapper">
        <label for="id_subject">Confirmation Email:</label>
        {{ form.email2 }}
        {{ form.email2.errors }}
    </div>
    <div class="fieldWrapper">
        <label for="id_subject">Mot de passe:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
    <div class="fieldWrapper">
        <label for="id_subject">Confirmation du mot de passe:</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <div class="fieldWrapper">
        <label for="id_subject">Date d'anniversaire:</label>
        {{ form.birthday }}
        {{ form.birthday.errors }}
    </div>
    <p><input type="submit" value="S'inscrire" /></p>
</form>

<h1 id="connection"> Se connecter </h1>
<form name='login_form' action="{% url 'usr_management:login' %}?next={{ next_url }}" method="post">
    {% csrf_token %}
    <div class="fieldWrapper">
    <label for="id_subject">Pseudo:</label>
    <input type="text" name="username_log" value="" size="20" required>
    </div>
    <div class="fieldWrapper">
    <label for="id_subject">Mot de passe:</label>
    <input type="password" name="password_log" value="" size="20" required>
    </div>
    <p><input type="submit" value="Se connecter" /></p>
</form>
{% endblock %}

{% block script_block %}
<script type="text/javascript">

function validateMail(obj, value) {
    var x = value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) {
        return 'Entrer une adresse mail valide';
    }
    $.ajax({
        url: "{% url 'usr_management:validator' %}",
        type: "GET",
        cache: false,
        dataType: "json",
        success: function (data) {
            console.log(data);
            if(data['result'] == 'failed'){
                checkAndWriteError(obj,'<ul class="errorlist"><li>'+'Cette adresse mail est déjà utilisée'+'</li></ul>');
            }
        },
        data: {
            "email": value,
        }
    });
    return "";
}
function validateUser(obj, username) {
    $.ajax({
        url: "{% url 'usr_management:validator' %}",
        type: "GET",
        cache: false,
        dataType: "json",
        success: function (data) {
            console.log(data);
            if(data['result'] == 'failed'){
                checkAndWriteError(obj,'<ul class="errorlist"><li>'+data['message']+'</li></ul>');
            }
        },
        data: {
            "username": username,
        }
    });
}
function checkAndWriteError(obj, error_msg){
    if (obj.parent().find('.errorlist').length == 0){
                    obj.after(error_msg);
    }
}

$( ".django_form input" ).focusout(function() {
    var x = $.trim($(this).val())
    if ($(this).parent().find('.errorlist').length != 0){
            $(this).parent().children('.errorlist').remove();
    }
    if (x == null || x == ""){
        checkAndWriteError($(this),'<ul class="errorlist"><li>Ce champs est obligatoire</li></ul>');
    }
    else {
        if( $(this).attr('id') == 'id_username'){
            validateUser($(this),x);
        }
        else if( $(this).attr('id') == 'id_email'){
            var message = validateMail($(this),x);
            if(message != ""){
                checkAndWriteError($(this),'<ul class="errorlist"><li>'+message+'</li></ul>');
            }
        }
        else if($(this).attr('id') == 'id_email2'){
            if($("#id_email").val() != x){
                checkAndWriteError($(this),'<ul class="errorlist"><li>Adresses mail différentes</li></ul>');       
            }
        }
        else if($(this).attr('id') == 'id_password2'){
            if($("#id_password1").val() != x){
                checkAndWriteError($(this),'<ul class="errorlist"><li>Mots de passe différents</li></ul>');       
            }
        }
    }
    

});

function validateForm() {
    var elements = [ "username", "first_name", "last_name", "email", "email2", "password1", 
    "password2"];
    var ok = true;
    for (var i = 0; i < elements.length; i++) {
        var x = $.trim(document.forms["signup_form"][elements[i]].value);
        if (x == null || x == "") {
            if ($('#id_'+elements[i]).parent().find('.errorlist').length == 0){
                $('#id_'+elements[i]).after('<ul class="errorlist"><li>Ce champs est obligatoire</li></ul>');
            }
            // alert("First name must be filled out");
            ok = false;
        }
        else{
            if ($('#id_'+elements[i]).parent().find('.errorlist').length != 0){
                $('#id_'+elements[i]).parent().children('.errorlist').remove();
            }
        }
    }
    var ok_birthday = true;
    var birthArray = [document.forms["signup_form"]["birthday_day"].value, document.forms["signup_form"]["birthday_month"].value, document.forms["signup_form"]["birthday_year"].value];
    console.log(birthArray);
    for (var i = 0; i < birthArray.length; i++) {
        if(birthArray[i].length == 0 || birthArray[i] == "0"){
            if ($('#id_birthday_year').parent().find('.errorlist').length == 0){
                $('#id_birthday_year').after('<ul class="errorlist"><li>Ce champs est obligatoire</li></ul>');
            }
            ok_birthday = false;
            break;
        }
    };
    if(ok_birthday == true){
        $('#id_birthday_year').parent().children('.errorlist').remove();
    }
    return (ok && ok_birthday);
}
</script>
{% endblock %}