{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<!-- <link href="{% static "css/login.css" %}" rel="stylesheet"> -->
<!-- <link href="{% static "css/homepage.css" %}" rel="stylesheet"> -->
<link href="{% static "css/datepicker.css" %}" rel="stylesheet">
<link href="{% static "css/contact.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
<div class="container form-container col-lg-4 col-lg-offset-1" >
<form name='signup_form' class="form-horizontal django_form" onsubmit="return validateForm()" action="{% url 'usr_management:login' %}?next={{ next_url }}" method="post">{% csrf_token %}
    <fieldset>
    <legend id="enregistrement" class="col-lg-12">S'enregistrer</legend>
    {{ form.non_field_errors }}
    <!-- <div class="fieldWrapper">
        <label for="id_subject">Pseudo:</label>
    </div> -->
    <!-- <div class="fieldWrapper"> -->
    <div class="form-group">
        <label for="id_username" class="col-lg-4 control-label ">Pseudo</label>
        <div class="col-lg-8 input-container" >
            <input id="id_username" class="form-control" maxlength="30" name="username" type="text" placeholder="Pseudo" >
        <!-- {{ form.username }} -->
            {{ form.username.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_last_name" class="col-lg-4 control-label ">Nom</label>
        <div class="col-lg-8 input-container">
            <input id="id_last_name" class="form-control" maxlength="30" name="last_name" type="text" placeholder="Nom" >
        <!-- {{ form.name }} -->
            {{ form.last_name.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_first_name" class="col-lg-4 control-label ">Prenom</label>
        <div class="col-lg-8 input-container">
            <input id="id_first_name" class="form-control" maxlength="30" name="first_name" type="text" placeholder="Prenom" >
        <!-- {{ form.first_name }} -->
            {{ form.first_name.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_email" class="col-lg-4 control-label ">Email</label>
        <div class="col-lg-8 input-container">
            <input id="id_email" class="form-control" maxlength="30" name="email" type="email" placeholder="adresse@example.com" >
        <!-- {{ form.email }} -->
            {{ form.email.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_email2" class="col-lg-4 control-label ">Confirmation</label>
        <div class="col-lg-8 input-container">
            <input id="id_email2" class="form-control" maxlength="30" name="email2" type="email" placeholder="adresse@example.com" >
        <!-- {{ form.email2 }} -->
            {{ form.email2.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_password1" class="col-lg-4 control-label ">Mot de passe</label>
        <div class="col-lg-8 input-container">
            <input id="id_password1" class="form-control" maxlength="30" name="password1" type="password" placeholder="mot de passe" >
        <!-- {{ form.password1 }} -->
            {{ form.password1.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_password2" class="col-lg-4 control-label ">Confirmation</label>
        <div class="col-lg-8 input-container">
            <input id="id_password2" class="form-control" maxlength="30" name="password2" type="password" placeholder="mot de passe" >
        <!-- {{ form.password2 }} -->
            {{ form.password2.errors }}
        </div>
    </div>
<!--     <div class="fieldWrapper">
        <label for="id_subject">Mot de passe:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
 -->
<!--     <div class="fieldWrapper">
        <label for="id_subject">Confirmation du mot de passe:</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
 -->
    <div class="form-group">
        <label for="id_birthday" class="col-lg-4 control-label ">Anniversaire</label>
        <div class="col-lg-8 input-container">
            <input id="id_birthday" class="form-control" name="birthday" type="text" value="" placeholder="jj/mm/aaaa">
<!--             <input id="id_birthday" name="birthday" type="datetime-local">
 -->        <!-- {{ form.birthday }} -->
            {{ form.birthday.errors }}
        </div>
    </div>
<!--          <label for="id_birthday">Date d'anniversaire:</label>
        {{ form.birthday }}
        {{ form.birthday.errors }} -->
    <div class="form-group">
        <div class="col-lg-4 col-lg-offset-4">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
    </div>

    </fieldset>
</form>
</div>

<div class="container form-container col-lg-4 col-lg-offset-1" >
<form name='login_form' class="form-horizontal django_form" action="{% url 'usr_management:login' %}?next={{ next_url }}" method="post">{% csrf_token %}
    <fieldset>
    <legend id="connection">Se connecter</legend>
    {{ form.non_field_errors }}

    <div class="form-group">
        <label for="id_username_log" class="col-lg-4 control-label ">Pseudo</label>
        <div class="col-lg-8 input-container" >
            <input id="id_username_log" class="form-control" maxlength="30" name="username_log" type="text" placeholder="Pseudo" >
        <!-- {{ form.username }} -->
            {{ form.username_log.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_password_log" class="col-lg-4 control-label ">Mot de passe</label>
        <div class="col-lg-8 input-container">
            <input id="id_password_log" class="form-control" maxlength="30" name="password_log" type="password" placeholder="mot de passe" >
        <!-- {{ form.password1 }} -->
            {{ form.password_log.errors }}
        </div>
    </div>
    <a href="{% url 'usr_management:ask_reinitialisation' %}" > mot de passe oublié </a>
    <div class="form-group" style="padding-top:10px;" >
        <div class="col-lg-4 col-lg-offset-4">
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </div>

    </fieldset>
</form>
</div>
</div>
{% endblock %}

{% block script_block %}
<!-- <script src="{% static "js/jquery-ui.min.js" %}"></script> -->
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript">

function validateMail(obj, value) {
    var x = value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) {
        return 'Entrer une adresse mail valide';
    }
    $.ajax({
        url: "{% url 'usr_management:validator' %}",
        type: "GET",
        cache: false,
        dataType: "json",
        success: function (data) {
            console.log(data);
            if(data['result'] == 'failed'){
                checkAndWriteError(obj,'<ul class="errorlist"><li>'+'Cette adresse mail est déjà utilisée'+'</li></ul>');
            }
        },
        data: {
            "email": value,
        }
    });
    return "";
}
function validateUser(obj, username) {
    $.ajax({
        url: "{% url 'usr_management:validator' %}",
        type: "GET",
        cache: false,
        dataType: "json",
        success: function (data) {
            console.log(data);
            if(data['result'] == 'failed'){
                checkAndWriteError(obj,'<ul class="errorlist"><li>'+data['message']+'</li></ul>');
            }
        },
        data: {
            "username": username,
        }
    });
}
function checkAndWriteError(obj, error_msg){
    if (obj.parent().find('.errorlist').length == 0){
                    obj.parent().parent().removeClass('has-success').addClass('has-error');
                    obj.after(error_msg);
    }
}
function clean(obj){
    if (obj.parent().find('.errorlist').length != 0){
            obj.parent().children('.errorlist').remove();
            obj.parent().parent().removeClass('has-error');
    }
    obj.parent().parent().addClass('has-success');
}

$( ".django_form input" ).focusout(function() {
    if($(this).attr('id') === "id_birthday"){
        return;
    }

    var x = $.trim($(this).val())
    clean($(this));
    if (x == null || x == ""){
        checkAndWriteError($(this),'<ul class="errorlist"><li>Ce champs est obligatoire</li></ul>');
    }
    else {
        if( $(this).attr('id') == 'id_username'){
            validateUser($(this),x);
        }
        else if( $(this).attr('id') == 'id_email'){
            var message = validateMail($(this),x);
            if(message != ""){
                checkAndWriteError($(this),'<ul class="errorlist"><li>'+message+'</li></ul>');
            }
        }
        else if($(this).attr('id') == 'id_email2'){
            if($("#id_email").val() != x){
                checkAndWriteError($(this),'<ul class="errorlist"><li>Adresses mail différentes</li></ul>');
            }
        }
        else if($(this).attr('id') == 'id_password2'){
            if($("#id_password1").val() != x){
                checkAndWriteError($(this),'<ul class="errorlist"><li>Mots de passe différents</li></ul>');
            }
        }
    }
});

function validateForm() {
    var elements = [ "username", "first_name", "last_name", "email", "email2", "password1",
    "password2"];
    var ok = true;
    for (var i = 0; i < elements.length; i++) {
        var x = $.trim(document.forms["signup_form"][elements[i]].value);
        if (x == null || x == "") {
            if ($('#id_'+elements[i]).parent().find('.errorlist').length == 0){
                $('#id_'+elements[i]).after('<ul class="errorlist"><li>Ce champs est obligatoire</li></ul>');
            }
            // alert("First name must be filled out");
            ok = false;
        }
        else{
            if ($('#id_'+elements[i]).parent().find('.errorlist').length != 0){
                $('#id_'+elements[i]).parent().children('.errorlist').remove();
            }
        }
    }
    var ok_birthday = true;
    var birthArray = [document.forms["signup_form"]["birthday"].value];
    console.log(birthArray);
    for (var i = 0; i < birthArray.length; i++) {
        if(birthArray[i].length == 0 || birthArray[i] == "0"){
            if ($('#id_birthday_year').parent().find('.errorlist').length == 0){
                $('#id_birthday_year').after('<ul class="errorlist"><li>Ce champs est obligatoire</li></ul>');
            }
            ok_birthday = false;
            break;
        }
    };
    if(ok_birthday == true){
        $('#id_birthday_year').parent().children('.errorlist').remove();
    }
    return (ok && ok_birthday);
}
// $('#id_birthday').datepicker();

   $("#id_username").popover({trigger:'hover',placement:'right',content:"Entrer un nom d'utilisateur qui vous permettra de vous connecter"});
   $("#id_birthday").popover({trigger:'hover',placement:'right',content:"jj/mm/aaaa"});
</script>
{% endblock %}