{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/selection.css"%}">
    <link rel="stylesheet" href="{% static "css/details.css"%}">
{% endblock %}

{% block content %}
{% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-dismissable {% if message.tags %} alert-{{ message.tags }} {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message|safe }}
        </div>
      {% endfor %}
    </div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="selection_header">
      <h2>Synthèses disponibles pour le livre</h1>
      <h3>{{title|title}}</h3>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1">

    <div class="row">
      <div class="repre_image col-xs-12">
        <img src="{{img_url}}" />

        <div class="result_info">
          <div class="result_title">
            {{title|title}}
          </div>
          <div class="result_author">
            {{author}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="bs-component col-xs-12">
        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Acheter le livre" href="{{buy_url}}" target="_blank">
          <img src="{% static "img/pictos/Credit_card.png" %}" />
          Acheter le livre
        </a>
      </div>

      <div class="bs-component col-xs-12">
        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Je vends une synthèse" href="{% url 'book_management:post_medium' title %}">
          <img src="{% static "img/pictos/Sell.png" %}" />
          Vendre une synthèse
        </a>
      </div>
    </div>

  </div>

  <div class="col-sm-offset-1 col-sm-9 col-xs-12">
  {% if content %}

    {% if content|length > 4 %}
      <div class="row">
        <div class="col-xs-offset-11 col-xs-1">
          <button type="button" class="btn btn-danger plus_button" onclick='afficher_plus()'>Plus</button>
        </div> <!-- Bouton PLUS -->
      </div>
    {% endif %}

    <div class="row list_extract">
      {% for synth, bought in content %}
        <div class="repre_image col-md-3 col-xs-6" {% if forloop.counter0 >= 4  %}style="display:none"{% endif %}>
          <!-- <img src="{{img_url}}" /> -->
          <div class="image_extract">
            <img src="{% static "img/logo/owl_only_2.png" %}" alt="Logo Kooblit" />
            <p>Kooblit de</p>
            <p class="title_extract">{{title|title}}</p>
            <p>Par <span class="author_name">{{synth.user.username|title}}<span></p>
          </div>

          <div class="result_info">
            <div class="row">
              <div class="stars col-xs-12">
                <span class="star-icon {% if synth.note_moyenne >= 1 %}full{% elif synth.note_moyenne > 0.5 %}half{% endif %}">☆</span>
                <span class="star-icon {% if synth.note_moyenne >= 2 %}full{% elif synth.note_moyenne > 1.5 %}half{% endif %}">☆</span>
                <span class="star-icon {% if synth.note_moyenne >= 3 %}full{% elif synth.note_moyenne > 2.5 %}half{% endif %}">☆</span>
                <span class="star-icon {% if synth.note_moyenne >= 4 %}full{% elif synth.note_moyenne > 3.5 %}half{% endif %}">☆</span>
                <span class="star-icon {% if synth.note_moyenne >= 5 %}full{% elif synth.note_moyenne > 4.5 %}half{% endif %}">☆</span>
              </div>
            </div>

            <div class="row">
              <p class="misc_info col-xs-6">{{synth.nbre_notes}} notes</p>
              <p class="misc_info col-xs-6">{{synth.nbre_mots}} mots</p>
              <p class="misc_info col-xs-12">Publié le {{synth.date|date:"d/m/Y"}}</p>

              {% if bought %}
                <p class="col-xs-12">
                  <a href="{% url 'usr_management:lire_synthese' synth.id %}" class="abtn see_extract">
                    Lire la synthèse
                  </a>
                </p>
              {% else %}
                <p class="col-xs-12">
                  <a href="javascript:void(0)" class="abtn see_extract" data-toggle="modal" data-target="#myModal_{{forloop.counter0}}">
                    Voir un extrait
                  </a>
                </p>
              {% endif %}

              <p class="misc_info price col-xs-3">{{synth.prix}}€</p>

              {% if not bought %}
                <p class="col-xs-8 col-xs-offset-1">
                  <button href="javascript:void(0)" class="abtn buy_resume" form="form_ajout_{{synth.id}}">
                    Ajouter au panier
                  </button>
                </p>
                <form id="form_ajout_{{synth.id}}" method="POST" >{% csrf_token %}
                  <input type="hidden" name="synthese" value="{{synth.id}}">
                </form>
              {% endif %}

            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal_{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>

                <h4 class="modal-title" id="myModalLabel">
                  <img src="{% static 'img/logo/owl_only.png' %}" width="50px" alt="logo kooblit" />
                  {{synth.title}}
                </h4>
              </div>

              <div class="modal-body">
                {{synth.extrait|safe}}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>

  {% else %}
    <h1 class="no_synthese">Désolé, il n'y a aucune synthèse disponible pour ce livre</h1>
  {% endif %}
  </div>

</div>
{% endblock %}

{% block script_block %}
<script type="text/javascript">
$('.bs-component [data-toggle="tooltip"]').tooltip();

function afficher_plus(){
  $('.repre_image').each(function(){
    var res = $(this);
    res.css('display','inline-block');
  });
}

</script>
{% endblock %}
