{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>

{% block extra_css %}
{% endblock %}
{% block content %}
<div class="container" style="padding-top:30px;">
    L'ouvrage <h5>{{ title }}</h5> ne dispose pas de synthèse disponible sur le site à ce jour. Nous allons faire notre possible pour vous procurer une synthèse dans les plus brefs délais. Souhaitez-vous être prévenu lorsqu'une synthèse sera en ligne?
</div>
<div class="container" style="padding-top:30px;">
    <a class="btn btn-primary" href="{% url 'book_management:ask' url_title %}" >Oui</a>
    <a class="btn btn-default" href="{% url 'homepage' %}" >Non</a>
</div>
{% endblock %}
{% block script_block %}
{% endblock %}