{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>

{% block extra_css %}
{% endblock %}
{% block content %}
<div class="container" style="padding-top:30px;">
    Le livre <h5>{{ title }}</h5> que vous recherchez n'est malheureusement pas disponible.<br/>
    voulez-vous être prévenu dès qu'une synthèse sera disponible?
</div>
<div class="container" style="padding-top:30px;">
    <form method="POST">{% csrf_token %}
        <fieldset>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a class="btn btn-default" href="{% url 'homepage' %}" >Non</a>
                    <button type="submit" class="btn btn-primary">Oui</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block script_block %}
{% endblock %}