{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/edition.css"%}">
    <link rel="stylesheet" href="{% static "css/medium-editor.css"%}">
    <link rel="stylesheet" href="{% static "css/themes/default.css"%}">
{% endblock %}

{% block content %}
    <form method="POST" id="form_synth">{% csrf_token %}
        <input id="container" name='q' type="hidden" value=""></input>
    </form>
    <div class="container message_container" style="position:fixed;bottom:0px;">
        <div id="enregistrement-en-cours" class="alert alert-dismissable alert-success" style="display:none;">
          Enregistrement de votre fichier.
        </div>

        <div id="enregistrement-success" class="alert alert-dismissable alert-success" style="display:none;">
          Votre fichier a bien été enregistré.
        </div>
    </div>
    <div class="container editeur">
        <div class="row">
            <div class="col-sm-2">
              <div class="repre_image">
                <a title="Acheter le livre" target="_blank" href="{{u_b.buy_url}}">
                    <img src="{{u_b.image}}">
                </a>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titre_synth">Koob de <span class="edition_bold" >{{book.title}}</span> par <span class="edition_bold">{{username}}</span></h2>
                <!-- <div class="titre"></div> -->
                <div id="cadre_edition" class="editable">{{content|safe}}</div>
                <div id="container">
                    <button class="btn_call_sec button-sauvegarder" onclick="sauvegarder()"> Sauvegarder </button>
                    <button value="quit" name="_quit" class="btn btn_call_sec " onclick="choix_prix('_quit')" > Sauvegarder et quitter </button>
                    <button  value="publish" name="_publish" class="btn btn_call " onclick="choix_prix('_publish')" > Publier </button>
                </div>
            </div>
        </div>
    </div> <!-- editeur -->
    <div class="container choix_prix hidden">
        <h2>A quel prix souhaitez-vous vendre votre synthèse?</h2>
        Minimum 2€, pas de maximum, mais attention, un prix trop élevé limitera les téléchargements.

        <p><input name="prix" class="price_selector" type="number" step=0.1 placeholder="{% if synthese %}{{synthese.prix}}{% else %}0,00{% endif %}" form="form_synth" />€</p>
        <a href="#"><button value="retour" name="retour" class="btn_call_sec" onclick="retour()" > <i class="fa fa-arrow-circle-o-left"></i> Retour </button></a>

        <button class="btn_call" type="submit" value="publish" name="_publish" class="button button-prix" onclick="envoyer()" form="form_synth"> Valider </button>
    </div>
{% endblock %}

{% block script_block %}
    <script src="{% static "js/medium-editor.js"%}"></script>

    <script>
        var changed = 0;
        var editor = new MediumEditor('.editable', {
            buttonLabels: 'fontawesome'
        });
        var d = new Date();
        var t_interval = d.getTime();
        var t_editor = d.getTime();

        $('.editable').on('input', function() {
            var d = new Date();
            t_editor = d.getTime();
            changed = 1;
        });
        function retour(){
            $('.editeur').removeClass('hidden');
            $('.choix_prix').addClass('hidden');
        }
        function choix_prix(nom) {
            $('.button-prix').attr('name', nom);
            $('.editeur').addClass('hidden');
            $('.choix_prix').removeClass('hidden');
            $('.price_selector').focus();
        }
        function sauvegarder () {
            var ser = editor.serialize();
            $.ajax({
                    url: "{% url 'book_management:post_medium' book.title %}",
                    type: "POST",
                    cache: false,
                    success: function (data) {
                        $("#enregistrement-en-cours").css('display','none');
                        $("#enregistrement-success").fadeIn();
                        setTimeout(function() {$("#enregistrement-success").fadeOut();},2000);
                    },
                    beforeSend: function(){
                        $("#enregistrement-en-cours").fadeIn();
                        changed = 0;
                        return true;
                    }
                    ,
                    data: {
                    q: ser['cadre_edition']['value'],
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]')[0].value
                    }
            });
        }
        function envoyer () {
            var ser = editor.serialize();
            $('input[name="q"]')[0].value = ser['cadre_edition']['value'];
        }
        var timer = setInterval(function() {
            var d = new Date();
            t_interval = d.getTime();
            if(t_interval - t_editor >= 2000 && changed){
                var ser = editor.serialize();
                $.ajax({
                        url: "{% url 'book_management:post_medium' book.title %}",
                        type: "POST",
                        cache: false,
                        success: function (data) {
                            $("#enregistrement-en-cours").css('display','none');
                            $("#enregistrement-success").fadeIn();
                            setTimeout(function() {$("#enregistrement-success").fadeOut();},5000);
                        },
                        data: {
                            q:ser['cadre_edition']['value'],
                            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]')[0].value
                        }
                });
                changed = 0;
            }
        }, 2000);
    </script>
{% endblock %}
