{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link href="{% static "css/homepage.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div style="background-color:rgba(0, 0, 0, 0.15);color:#F0F0F0;padding:15px;" >
    {% if user.is_authenticated %}
    BIENVENUE {{ user.username }}
    {% endif %}
    <h1 >
    DES MILLIERS<br/> DE SYNTHÈSES <br/> DE LIVRES <br/> POUR SEULEMENT 1€</h1>
    <h2 >Découvrez le catalogue de synthèses écrites par les utilisateurs 
        Et gagnez de l’argent en partageant les vôtres
    </h2>
    </div>
    <div style="margin-top:50px; width:100%; height: 100px;"> 
      <div class="btn-group btn-group-perso col-xs-12 col-sm-12 col-md-4"><button type="button" class="btn  btn-xlarge" >Rechercher un titre <span class="glyphicon glyphicon-search"></span></button></div>
      {% if not user.is_authenticated %}
      <div class="btn-group btn-group-perso col-xs-12 col-sm-12 col-md-4"><a class="btn  btn-xlarge"href="{% url 'usr_management:login' %}#enregistrement">S'inscrire</a></div>
      <div class="btn-group btn-group-perso col-xs-12 col-sm-12 col-md-4"><a class="btn btn-xlarge" href="{% url 'usr_management:login' %}#connection">Se connecter</a></div>
      {% endif %}
    </div>
    <div id="footer_jumbotron" >
      <p> KOOBLIT </p>
      <img src="{% static "img/ico/point_kooblit.ico" %}" width="20" alt="point_kooblit"/>
    </div>
</div>
{% endblock %}
{% block script_block %}
  <script src="{% static "js/homepage.js" %}" type="text/javascript"></script>
{% endblock %}