{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
<link href="{% static "css/homepage_new.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% if messages %}
{% endif %}
<div class="jumbotron">
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-dismissable {% if message.tags %} alert-{{ message.tags }} {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message|safe }}
        </div>
      {% endfor %}
    </div>
    <div style="padding:40px; color:black;text-align:center;">
    
    <h2 style="font-size:40px;" >
    Des millers de synthèses de livres <br>à partir de 1€
   </h2>
    <h4 style="padding-top:20px;">Découvrez le catalogue de synthèses écrites par les utilisateurs <br>
        Et gagnez de l’argent en partageant les vôtres
    </h4>
    </div>
     <div class="row">
      <div  class="col-xs-12 col-sm-12 col-md-2 col-md-offset-2">
        <a class="search_button thumbnail" href="/accounts/login/#enregistrement" style="height:80px;width:80px;margin:auto;">
          <img src="{% static "img/magnifier13.png" %}" width="30" style="height: 40px; width: 40px; display: block;text-align:center;margin-top:15px" />
        </a>
        <div class="button_subtitle">Je cherche une<br/>synthèse</div></div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1" ><a class="gold_button thumbnail" href="/accounts/login/#enregistrement" style="height:80px;width:80px;margin:auto;"><img src="{% static "img/coins24.png" %}" width="30" style="height: 40px; width: 40px; display: block;text-align:center;margin-top:15px" /></a><div class="button_subtitle">Je vends une<br/>synthèse</div></div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1" ><a class="subscribe_button thumbnail" href="{% url 'usr_management:login' %}" style="height:80px;width:80px;margin:auto;"><img src="{% static "img/writing9.png" %}" width="30" style="height: 40px; width: 40px; display: block;text-align:center;margin-top:15px" /></a><div class="button_subtitle">Je m'inscris<br/>gratuitement</div></div>
      </div>
      <!--<div class="btn-group btn-group-perso col-xs-12 col-sm-12 col-md-4"><a class="btn  btn-xlarge btn-default" href="/accounts/login/#enregistrement">S'inscrire</a></div>
      <div class="btn-group btn-group-perso col-xs-12 col-sm-12 col-md-4"><a class="btn btn-xlarge btn-default" href="/accounts/login/#connection">Se connecter</a></div>
      -->
    </div>
</div>

<!-- <div class="jumbotron">
    <div style="background-color:rgba(0, 0, 0, 0.15);color:#F0F0F0;padding:15px;" >
    {% if user.is_authenticated %}
    BIENVENUE {{ user.username }}
    {% endif %}
    <h1 >
    DES MILLIERS<br/> DE SYNTHÈSES <br/> DE LIVRES <br/> POUR SEULEMENT 1€</h1>
    <h2 >Découvrez le catalogue de synthèses écrites par les utilisateurs 
        Et gagnez de l’argent en partageant les vôtres
    </h2>
    </div>
    <div style="margin-top:50px; width:100%; height: 100px;"> 
      <div class="btn-group btn-group-perso col-xs-12 col-sm-12 col-md-4"><button type="button" class="btn  btn-xlarge btn-default " >Rechercher un titre <span class="glyphicon glyphicon-search"></span></button></div>
      {% if not user.is_authenticated %}
      <div class="btn-group btn-group-perso col-xs-12 col-sm-12 col-md-4"><a class="btn  btn-xlarge btn-default"href="{% url 'usr_management:login' %}#enregistrement">S'inscrire</a></div>
      <div class="btn-group btn-group-perso col-xs-12 col-sm-12 col-md-4"><a class="btn btn-xlarge btn-default" href="{% url 'usr_management:login' %}#connection">Se connecter</a></div>
      {% endif %}
    </div> -->
</div>
{% endblock %}
{% block script_block %}
  <script src="{% static "js/homepage.js" %}" type="text/javascript"></script>
{% endblock %}
