<div class="panel panel-default">
  <div class="panel-body">
    <h3>
        Profil
    </h3>
    <ul>
        <li>Pseudo : {{user.username}}</li>
        <li>Nom : {{user.first_name}}</li>
        <li>Prénom : {{user.last_name}}</li>
    </ul>
    <h3>
        Adresse
    </h3>
    {% if adresse %}
    <ul>
        <li>{{adresse.number}} {{adresse.street_line1}}</li>
        <li>{{adresse.zipcode}} {{adresse.city}}</li>
        <li>{{adresse.country}}</li>
    </ul>
    {% endif %}
    <h3>
        Contact
    </h3>
    <ul>
        <li>{{user.email}} </li>
    </ul>
    <a style="float:right"> Modifier mes informations </a>
  </div>
</div>