{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link href="{% static "css/datepicker.css" %}" rel="stylesheet">
<link href="{% static "css/inscription.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
<div class="container form-container col-lg-4 col-lg-offset-1" >
<form name='signup_form' class="form-horizontal django_form" onsubmit="return validateForm()" action="{% url 'usr_management:login' %}?next={{ next_url }}" method="post">{% csrf_token %}
    <fieldset>
    <legend id="enregistrement" class="col-lg-12">S'enregistrer</legend>
    {{ form.non_field_errors }}
    <!-- <div class="fieldWrapper">
        <label for="id_subject">Pseudo:</label>
    </div> -->
    <!-- <div class="fieldWrapper"> -->
    <div class="form-group">
        <div class="col-lg-12 input-container" >
            <input id="id_username" class="form-control" maxlength="30" name="username" type="text" placeholder="Pseudo..." >
        <!-- {{ form.username }} -->
            {{ form.username.errors }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 input-container">
            <input id="id_last_name" class="form-control" maxlength="30" name="last_name" type="text" placeholder="Nom..." >
        <!-- {{ form.name }} -->
            {{ form.last_name.errors }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 input-container">
            <input id="id_first_name" class="form-control" maxlength="30" name="first_name" type="text" placeholder="Prenom..." >
        <!-- {{ form.first_name }} -->
            {{ form.first_name.errors }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 input-container">
            <input id="id_email" class="form-control" maxlength="30" name="email" type="email" placeholder="adresse@example.com..." >
        <!-- {{ form.email }} -->
            {{ form.email.errors }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 input-container">
            <input id="id_password1" class="form-control" maxlength="30" name="password1" type="password" placeholder="Mot de passe..." >
        <!-- {{ form.password1 }} -->
            {{ form.password1.errors }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 input-container">
            <input id="id_password2" class="form-control" maxlength="30" name="password2" type="password" style="display:none;">
        <!-- {{ form.password2 }} -->
            {{ form.password2.errors }}
        </div>
    </div>
    <div class="form-group">
        <div>
            <p class="conditions_generales">En cliquant sur Inscription, vous acceptez nos <a href="/legal/terms" target="_blank" rel="nofollow">Conditions</a> et indiquez que vous avez lu notre <a href="/about/privacy" target="_blank" rel="nofollow">Politique d’utilisation des données</a>, y compris notre <a href="/help/cookies" target="_blank" rel="nofollow">Utilisation des cookies</a>.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4">
            <button type="submit" class="btn">Inscription</button>
        </div>
    </div>

    </fieldset>
</form>
</div>

<div class="container form-container col-lg-4 col-lg-offset-1" >
<form name='login_form' class="form-horizontal django_form" action="{% url 'usr_management:login' %}?next={{ next_url }}" method="post">{% csrf_token %}
    <fieldset>
    <legend id="connection">Se connecter</legend>
    {{ form.non_field_errors }}
    <ul class="errorlist"><li>{{ login_error }}</li></ul>
    <div class="form-group">
        <div class="col-lg-12 input-container" >
            <input id="id_username_log" class="form-control" maxlength="30" name="username_log" type="text" placeholder="Pseudo ou email..." >
        <!-- {{ form.username }} -->
            {{ form.username_log.errors }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 input-container">
            <input id="id_password_log" class="form-control" maxlength="30" name="password_log" type="password" placeholder="Mot de passe..." >
        <!-- {{ form.password1 }} -->
            {{ form.password_log.errors }}
        </div>
    </div>
    <div id="forgotten_password">
        <a href="{% url 'usr_management:ask_reinitialisation' %}" > Mot de passe oublié? </a>
    </div>
    <div class="form-group" style="padding-top:10px;" >
        <div class="col-lg-4 col-lg-offset-4">
            <button type="submit" class="btn">Connexion</button>
        </div>
    </div>

    </fieldset>
</form>
</div>
</div>
{% endblock %}

{% block script_block %}
<!-- <script src="{% static "js/jquery-ui.min.js" %}"></script> -->
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript">

function validateMail(obj, value) {
    var x = value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) {
        return 'Entrer une adresse mail valide';
    }
    $.ajax({
        url: "{% url 'usr_management:validator' %}",
        type: "GET",
        cache: false,
        dataType: "json",
        success: function (data) {
            if(data['result'] == 'failed'){
                checkAndWriteError(obj,'<ul class="errorlist"><li>'+'Cette adresse mail est déjà utilisée'+'</li></ul>');
            }
        },
        data: {
            "email": value,
        }
    });
    return "";
}
function validateUser(obj, username) {
    $.ajax({
        url: "{% url 'usr_management:validator' %}",
        type: "GET",
        cache: false,
        dataType: "json",
        success: function (data) {
            if(data['result'] == 'failed'){
                checkAndWriteError(obj,'<ul class="errorlist"><li>'+data['message']+'</li></ul>');
            }
        },
        data: {
            "username": username,
        }
    });
}
function checkAndWriteError(obj, error_msg){
    if (obj.parent().find('.errorlist').length == 0){
                    obj.parent().parent().removeClass('has-success').addClass('has-error');
                    obj.after(error_msg);
    }
}
function clean(obj){
    if (obj.parent().find('.errorlist').length != 0){
            obj.parent().children('.errorlist').remove();
            obj.parent().parent().removeClass('has-error');
    }
    obj.parent().parent().addClass('has-success');
}

$( ".django_form input" ).focusout(function() {

    var x = $.trim($(this).val())
    clean($(this));
    if (x == null || x == ""){
        checkAndWriteError($(this),'<ul class="errorlist"><li>Ce champs est obligatoire</li></ul>');
    }
    else {
        if( $(this).attr('id') == 'id_username'){
            validateUser($(this),x);
        }
        else if( $(this).attr('id') == 'id_email'){
            var message = validateMail($(this),x);
            if(message != ""){
                checkAndWriteError($(this),'<ul class="errorlist"><li>'+message+'</li></ul>');
            }
        }
        // else if($(this).attr('id') == 'id_password2'){
        //     if($("#id_password1").val() != x){
        //         checkAndWriteError($(this),'<ul class="errorlist"><li>Mots de passe différents</li></ul>');
        //     }
        // }
    }
});

function validateForm() {
    var elements = [ "username", "first_name", "last_name", "email", "password1",
    "password2"];
    var ok = true;
    $('#id_password2').val($('#id_password1').val());
    console.log($('#id_password2').value)
    for (var i = 0; i < elements.length; i++) {
        var x = $.trim(document.forms["signup_form"][elements[i]].value);
        if (x == null || x == "") {
            if ($('#id_'+elements[i]).parent().find('.errorlist').length == 0){
                $('#id_'+elements[i]).after('<ul class="errorlist"><li>Ce champs est obligatoire</li></ul>');
            }
            ok = false;
        }
        else if( $('#id_'+elements[i]).parent().find('.errorlist:contains("existe")').length)
        {
            ok = false;
        }
        else{
            if ($('#id_'+elements[i]).parent().find('.errorlist').length != 0){
                $('#id_'+elements[i]).parent().children('.errorlist').remove();
            }
        }
    }
    return ok;
}
   $("#id_username").popover({trigger:'hover',placement:'right',content:"Entrer un nom d'utilisateur qui vous permettra de vous connecter"});
</script>
{% endblock %}