{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
  <link href="{% static "css/lecture.css" %}" rel="stylesheet">
{% endblock %}

{% block navigation %}
  {% include 'navigation/titled.html' with title=synth.titre|title author=synth.user.username|title %}
{% endblock %}

{% block content %}
  {% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-dismissable {% if message.tags %} alert-{{ message.tags }} {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message|safe }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="container resume">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
      {{ synth.contenu|safe }}
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <a href="#">Télécharger pdf <i class="fa fa-arrow-circle-o-down"></i></a>
    </div>
  </footer>
{% endblock %}
