{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/TR/SVG11/">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Franck ROLAND">
    <link rel="shortcut icon" href="{% static "img/ico/owl_red.ico" %}">

    <title>KOOBLIT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="{% static "css/typeahead.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/button.css" %}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {% block extra_css %}{% endblock %}
    {% block extra_head_script %}{% endblock %}
  </head>

  <body>
    <div id="wrap">
      {% block navigation %}{% endblock %}
      <div id="block_content">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block footer %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static "js/typehead.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/search_bar.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56855162-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript">
    var loaders = ['#ajax_loader', '#main_ajax_loader'];
    for (var i=0; i<loaders.length; i++){
      $(loaders[i]).css('display', 'none');
    }
    $('#search_bar').bind("typeahead:selected", function () {
        $("#search_form").submit();
    });
    $('#search_bar_homepage').bind("typeahead:selected", function () {
        $("#search_form").submit();
    });
    function display_loader(loader_name){
        $(loader_name).css('display', 'inline-block');
    }
    function hide_loader(loader_name){
        $(loader_name).css('display', 'none');   
    }
    </script>

    {% block script_block %}{% endblock %}

  </body>
</html>

