{% load staticfiles %}
<div class="repre_image col-md-3  col-sm-6 col-xs-12" {% if forloop.counter0 >= 4  %}style="display:none"{% endif %}>
  <!-- <img src="{{img_url}}" /> -->
  <div class="image_extract">
    <img src="{% static "img/logo/owl_grey.png" %}" alt="Logo Kooblit" />
    <p>Koob de</p>
    <p class="title_extract">{{synth.titre|title|slice:":11"}}{% if synth.titre|length > 11 %}...{% endif %}</p>
    <p>Par <a style="color: rgb(74,74,74);" href="{% url 'users' synth.user.username %}"><span class="author_name">{{synth.user.username|title}}</span> </a> </p>
  </div>

  <div class="result_info_etiquette">
    <div class="stars">
      <div class="current_note stars_yellow" style="width:{% widthratio synth.note_moyenne 5 100 %}%;"></div>
      {% if can_note %}
      <a class="note_link" href="javascript:void(0)" action="{% url 'usr_management:noter' synth.id %}" note=5><div class="vote vote_note_5 stars_yellow" style="width:150px;"></div></a>
      <a class="note_link" href="javascript:void(0)" action="{% url 'usr_management:noter' synth.id %}" note=4><div class="vote vote_note_4 stars_yellow" style="width:120px;"></div></a>
      <a class="note_link" href="javascript:void(0)" action="{% url 'usr_management:noter' synth.id %}" note=3><div class="vote vote_note_3 stars_yellow" style="width:90px;"></div></a>
      <a class="note_link" href="javascript:void(0)" action="{% url 'usr_management:noter' synth.id %}" note=2><div class="vote vote_note_2 stars_yellow" style="width:60px;"></div></a>
      <a class="note_link" href="javascript:void(0)" action="{% url 'usr_management:noter' synth.id %}" note=1><div class="vote vote_note_1 stars_yellow" style="width:30px;"></div></a>
      {% endif %}
    </div>

    <div class="result_description">
      <p class="misc_info col-xs-6">{{synth.nbre_notes}} notes</p>
      <p class="misc_info col-xs-6" style="text-align:right;"><b>{{synth.nbre_mots}}</b> mot{{synth.nbre_mots|pluralize}}</p>
      <p class="misc_info col-xs-12" style="text-align: justify;font-size: 1em;">Publié le {{synth.date|date:"d/m/Y"}}</p>

      {% if bought %}
        <p class="col-xs-12" style="padding: 0px;">
          <a href="{% url 'usr_management:lire_synthese' synth.id %}" class="abtn see_extract" >
            Lire la synthèse
          </a>
        </p>
      {% else %}
        <p class="col-xs-12" style="padding: 0px;">
          <a href="javascript:void(0)" class="abtn see_extract" data-toggle="modal" data-target="#myModal_{{forloop.counter0}}">
            Voir un extrait
          </a>
        </p>
      {% endif %}


      {% if not bought %}
        <p class="misc_info price col-3 col-xs-3">{{synth.prix}}€</p>
        <p class="col-8 col-offset-1 col-xs-8 col-xs-offset-1" style="padding:1px;">
          <button href="javascript:void(0)" class="abtn buy_resume" form="form_ajout_{{synth.id}}">
            Ajouter au panier
          </button>
        </p>
        <form id="form_ajout_{{synth.id}}" method="POST" >{% csrf_token %}
          <input type="hidden" name="synthese" value="{{synth.id}}">
        </form>
      {% endif %}

    </div>
  </div>
</div> <!-- repre_image -->

<!-- Modal -->
<div class="modal fade" id="myModal_{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>

        <h4 class="modal-title" id="myModalLabel">
          <img src="{% static 'img/logo/owl_grey.png' %}" width="50px" alt="logo kooblit" />
          {{synth.title}}
        </h4>
      </div>

      <div class="modal-body">
        {{synth.extrait|safe}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div> <!-- Modal -->
