{% extends "main_base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static "css/search.css" %}" rel="stylesheet">
{% endblock %}

{% block wrapped_content %}
<div id="block_content">

  <div class="container">

    <div id="logo" class="column-12 md-column-12">
      <img src="{% static "img/logo/owl_only_2.png" %}" alt="Logo Kooblit"/>

      <h1>&nbsp;Kooblit</h1>
    </div>

    <form id="main_search_form" action="{% url 'search_engine:search' %}" role="search" method="get" onsubmit="return display_loader('#main_ajax_loader')">
      <div class="form-group">

        <input id="main_search_bar" type="text" class="form-control " placeholder="Rechercher un ouvrage, un auteur, un thème..." name='title'>

        <img src="{% static "img/ajax-loader.gif"%}" id="main_ajax_loader" />

      </div>
      <button type="submit" style="display:none" ></button>
    </form>

  </div>
</div>
{% endblock %}
