{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/selection.css"%}">
{% endblock %}

{% block content %}
{% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-dismissable {% if message.tags %} alert-{{ message.tags }} {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message|safe }}
        </div>
      {% endfor %}
    </div>
{% endif %}

<div class="container">

  <div class="row">
    <div class="selection_header">
      <h2>Vous avez sélectionné</h1>
      <h3>{{title|title}}</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-1">
      <div class="repre_image">
        <img src="{{img_url}}">
      </div>

      <div class="result_info">
        <div class="result_title">
          {{title|title}}
        </div>

        <div class="result_author">
          {{author}}
        </div>
      </div>
    </div>

    <div class="col-sm-9">
      {% if description %}
        <div class="row">
          <div class="infos col-xs-12">
            <h3>Description</h3>
            <p>{{description|safe}}</p>
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="infos col-xs-12">
          <h3>Informations</h3>
            <div class="row">
            {% if langue %}
              <p class="misc_info col-xs-6">Langue: {{langue}}</p>
            {% endif %}
            {% if genre %}
              <p class="misc_info col-xs-6">Genre: {{genre}}</p>
            {% endif %}
            {% if publication_date %}
              <p class="misc_info col-xs-6">Publié: {{publication_date}}</p>
            {% endif %}
            {% if nb_of_pages %}
              <p class="misc_info col-xs-6">Pages: {{nb_of_pages}}</p>
            {% endif %}

            <p class="misc_info col-xs-6">Syntheses disponibles: {{nb_syntheses}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="bs-component col-xs-4">
          <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Acheter le livre" href="{{buy_url}}" target="_blank">
            <img src="{% static "img/pictos/Credit_card.png" %}" />
            <br />
            Acheter le livre
          </a>
        </div>
        <div class="bs-component col-xs-4">
          <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Je cherche une synthèse" href="{% url 'book_management:details' title %}">
            <img src="{% static "img/pictos/Search.png" %}" />
            <br />
            Voir les synthèses
          </a>
        </div>
        <div class="bs-component col-xs-4">
          <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Je vends une synthèse" href="{% url 'book_management:post_medium' title %}">
            <img src="{% static "img/pictos/Sell.png" %}" />
            <br />
            Vendre une synthèse
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
