{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/selection.css"%}">
    <link rel="stylesheet" href="{% static "css/details.css"%}">
{% endblock %}

{% block content %}
{% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-dismissable {% if message.tags %} alert-{{ message.tags }} {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message|safe }}
        </div>
      {% endfor %}
    </div>
{% endif %}

<div class="row">
  <div class="col-sm-offset-1 col-sm-9 col-xs-12">
  {% if content %}

    {% if content|length > 4 %}
      <div class="row">
        <div class="col-xs-offset-11 col-xs-1">
          <button type="button" class="btn btn-danger plus_button" onclick='afficher_plus()'>Plus</button>
        </div> <!-- Bouton PLUS -->
      </div>
    {% endif %}

    <div class="row list_extract">
      {% for synth, bought in content %}
        {% include "one_synth.html" %}
        

      {% endfor %}
    </div> 

  {% else %}
    <h1 class="no_synthese">Désolé, il n'y a aucune synthèse disponible pour ce livre</h1>
  {% endif %}
  </div>

</div>
{% endblock %}

{% block script_block %}
<script type="text/javascript">
$('.bs-component [data-toggle="tooltip"]').tooltip();

function afficher_plus(){
  $('.repre_image').each(function(){
    var res = $(this);
    res.css('display','inline-block');
  });
}

</script>
{% endblock %}
