{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/selection.css"%}">
    <link rel="stylesheet" href="{% static "css/details.css"%}">
{% endblock %}

{% block content %}
{% if messages %}
    <div class="container">
      {% for message in messages %}
        <div class="alert alert-dismissable {% if message.tags %} alert-{{ message.tags }} {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message|safe }}
        </div>
      {% endfor %}
    </div>
{% endif %}

<div class="row">
  <div class="col-sm-offset-1 col-sm-9 col-xs-12">
  {% if content %}

    {% if content|length > 4 %}
      <div class="row">
        <div class="col-xs-offset-11 col-xs-1">
          <button type="button" class="btn btn-danger plus_button" onclick='afficher_plus()'>Plus</button>
        </div> <!-- Bouton PLUS -->
      </div>
    {% endif %}

    <div class="row list_extract">
      {% for synth, bought, can_note in content %}
        {% include "one_synth.html" %}
      {% endfor %}
    </div> 

  {% else %}
    <h1 class="no_synthese">Désolé, cet auteur n'a encore rien publié</h1>
  {% endif %}
  </div>

</div>
{% endblock %}

{% block script_block %}
<script src="{% static "js/handle_note.js" %}" type="text/javascript"></script>
<script type="text/javascript">
$('.bs-component [data-toggle="tooltip"]').tooltip();
$(function () {
  $(".note_link").click(send_note);
  $(".vote").hover(function(){
    $(this).parent().parent().find(".current_note").addClass("current_note_hidden");
  },
  function () {
    $(this).parent().parent().find(".current_note").removeClass("current_note_hidden");
  });
})
function afficher_plus(){
  $('.repre_image').each(function(){
    var res = $(this);
    res.css('display','inline-block');
  });
}

</script>
{% endblock %}
