{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <link rel="stylesheet" href="{% static "css/medium-editor.css"%}">
    <link rel="stylesheet" href="{% static "css/themes/default.css"%}">
{% endblock %}

{% block content %}
    <div id="container">
    <form method="POST" id="form_synth">{% csrf_token %}

        <input id="container" name='q' type="hidden" value=""></input>
        <input id="container" name='e' type="hidden" value=""></input>
    </form>
    <div class="container" style="height:50px;">
        <div id="enregistrement-en-cours" class="alert alert-dismissable alert-success" style="display:none;">
          Enregistrement de votre fichier.
        </div>

        <div id="enregistrement-success" class="alert alert-dismissable alert-success" style="display:none;">
          Votre fichier a bien été enregistré.
        </div>
    </div>
    <h1>Editez votre synthèse</h1>
    <div class="titre"></div>
    <div class="editable">{{content|safe}}</div>
    </div>
    <div id="container">
        <button class="btn btn-default" onclick="sauvegarder()"> Enregistrer </button>
        <button type="submit" class="btn btn-default" onclick="envoyer()" form="form_synth"> Envoyer </button>
    </div>
{% endblock %}

{% block script_block %}
    <script src="{% static "js/medium-editor.js"%}"></script>

    <script>
        var changed = 0;
        var editor = new MediumEditor('.editable', {
            buttonLabels: 'fontawesome'
        });
        var d = new Date();
        var t_interval = d.getTime();
        var t_editor = d.getTime();

        $('.editable').on('input', function() {
            var d = new Date();
            t_editor = d.getTime();
            changed = 1;
        });

        function sauvegarder () {
            var ser = editor.serialize();
            $.ajax({
                    url: "{% url 'book_management:post_medium' book_title %}",
                    type: "POST",
                    cache: false,
                    success: function (data) {
                        $("#enregistrement-en-cours").css('display','none');
                        $("#enregistrement-success").fadeIn();
                        setInterval(function() {$("#enregistrement-success").fadeOut();},5000);
                    },
                    beforeSend: function(){
                        $("#enregistrement-en-cours").fadeIn();
                        changed = 0;
                        return true;
                    }
                    ,
                    data: {
                    q: ser['element-0']['value'],
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]')[0].value
                    }
            });
        }
        function envoyer () {
            var ser = editor.serialize();
            $('input[name="q"]')[0].value = ser['element-0']['value'];
            $('input[name="e"]')[0].value = "1";
        }
        var timer = setInterval(function() {
            var d = new Date();
            t_interval = d.getTime();
            if(t_interval - t_editor >= 2000 && changed){
                var ser = editor.serialize();
                $.ajax({
                        url: "{% url 'book_management:post_medium' book_title %}",
                        type: "POST",
                        cache: false,
                        success: function (data) {
                        },
                        data: {
                        q:ser['element-0']['value'],
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]')[0].value
                        }
                });
                changed = 0;
            }
        }, 2000);
    </script>
{% endblock %}
